{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
{#<link rel="shortcut icon" href="{% static 'dashboard/assets/img/favicon.ico' %}">#}
<!-- google fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- plugin stylesheets -->
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/css/vendors.css' %}"/>
<!-- app style -->
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/assets/css/style.css' %}"/>


    <div class="row">
        <div class="col-xxl-7 m-b-30 mt-5">
            <div class="card card-statistics h-100 mb-0 apexchart-tool-force-top">
                <div class="card-header d-flex justify-content-between">
                    <div class="card-heading">
                        <h4 class="card-title">Site activity</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-xs-6 col-lg-3">
                            <div class="row mb-2 pb-3 align-items-end">
                                <div class="col">
                                    <p>Users</p>
{#                                    {% for i in user %}#}
                                    <h3 class="tex-dark mb-0">{{ user }}</h3>
{#                                    {% endfor %}#}
                                </div>
                                <div class="col ml-auto">
                                    <span><i class="fa fa-arrow-down"></i> 2.5%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-xs-6 col-lg-3">
                            <div class="row mb-2 pb-3 align-items-end">
                                <div class="col">
                                    <p>School</p>
                                    <h3 class="tex-dark mb-0">{{ school }}</h3>
                                </div>
                                <div class="col ml-auto">
                                    <span><i class="fa fa-arrow-up"></i> 15%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-xs-6 col-lg-3">
                            <div class="row mb-2 pb-3 align-items-end">
                                <div class="col">
                                    <p>Jami so'mma</p>
                                    <h3 class="tex-dark mb-0">{{ b }} So'm</h3>
                                </div>
                                <div class="col ml-auto">
                                    <span><i class="fa fa-arrow-down"></i> 6.5%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-xs-6 col-lg-3">
                            <div class="row mb-2 pb-3 align-items-end">
                                <div class="col">
                                    <p>Guruh</p>
                                    <h3 class="tex-dark mb-0">{{ group }}</h3>
                                </div>
                                <div class="col ml-auto">
                                    <span><i class="fa fa-arrow-down"></i> 1.8%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="apexchart-wrapper p-inherit">
                                <div id="analytics1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-5 m-b-30 mt-5">
            <div class="card card-statistics h-100 mb-0">
                <div class="card-header d-flex justify-content-between">
                    <div class="card-heading">
                        <h4 class="card-title">Income Analysis</h4>
                    </div>
                    <div class="dropdown">
                        <a class="p-2" href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe fe-circle"></i>
                        </a>
                        <div class="dropdown-menu custom-dropdown dropdown-menu-right p-4">
                            <h6 class="mb-1">Action</h6>
                            <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-o pr-2"></i>View reports</a>
                            <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-edit pr-2"></i>Edit reports</a>
                            <a class="dropdown-item" href="#!"><i
                                    class="fa-fw fa fa-bar-chart-o pr-2"></i>Statistics</a>
                            <h6 class="mb-1 mt-3">Export</h6>
                            <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-pdf-o pr-2"></i>Export to PDF</a>
                            <a class="dropdown-item" href="#!"><i class="fa-fw fa fa-file-excel-o pr-2"></i>Export to
                                CSV</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2>3.8k</h2>
                            <span class="d-block mb-2 font-16">AVG sessions</span>
                            <span class="d-block mb-2 mb-sm-5"><b
                                    class="text-primary">-65.88%</b> vs last 1 months</span>
                            <p class="mb-3">Sapiente corporis fugiat, doloremque eveniet nostrum id molestiae
                                quaerat!</p>
                            <a class="btn btn-round btn-inverse-primary mb-3 mb-sm-0" href="#"><b>View details </b></a>
                        </div>
                        <div class="col-xs-6">
                            <div class="apexchart-wrapper">
                                <div id="analytics2" class="chart-fit"></div>
                            </div>
                        </div>
                    </div>
                    <div class="border-top my-4"></div>
                    <h4 class="card-title">Income by department</h4>
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <span>FCBK: <b>$1,475</b></span>
                            <div class="progress my-3" style="height: 4px;">
                                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                     aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <span>GGL: <b>$23,475</b></span>
                            <div class="progress my-3" style="height: 4px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 66%;"
                                     aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <span>APL: <b>$1,658</b></span>
                            <div class="progress my-3" style="height: 4px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 78%;"
                                     aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <span>SMG: <b>$12,489</b></span>
                            <div class="progress my-3" style="height: 4px;">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 55%;"
                                     aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="{% static 'dashboard/assets/js/vendors.js' %}"></script>

    <!-- custom app -->
    <script src="{% static 'dashboard/assets/js/app.js' %}"></script>
{% endblock %}
{% block javascript %}

{% endblock %}