{% extends 'base.html' %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Kiritishlar" "user:add_list" %}
    {% breadcrumb "Material qo'shish" "sign:add_material" %}
{% endblock %}
{% block content %}

    <div class="row" style="margin: auto">
        <!-- left column -->
        <div class="col-md-6 col-sm-12" style="margin: auto">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Material qo'shish</h3>
                </div>
                {% include 'inc/messages_part.html' %}

                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" method="POST" action="{% url 'sign:add_material' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label for="category">Bo'lim</label>
                            <select name="category" id="category" style="cursor: pointer" class="form-control">
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.title }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="video">Video</label>
                            <select name="video" id="video" style="cursor: pointer" class="form-control">
                                <option value="False">-- Bo'limni tanlang --</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="label_required" for="title">Material nomi</label>
                            <input type="text" class="form-control" required="required" id="title" name="title">
                        </div>

                        <div class="form-group">
                            <label class="label_required" for="file">Fayl nomi</label>
                            <input type="file" required="required" class="form-control" style="cursor: pointer" accept=".3gp, .mp4, .pdf, .doc, .docx, .jpg, .jpeg, .png, .xlsx, .xls, .txt" name="file">
                            <small class="text-muted">Qabul qilinadigan fayl turlari: 3gp, mp4, pdf, doc, docx, jpg, jpeg, png, xlsx, xls, txt</small>

                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Saqlash</button>
                        <button type="reset" class="btn btn-danger">Tozalash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block bottom %}
    <script>
        $("#material_title").keypress(function (event) {
            var ew = event.which;
            if (ew == 32)
                return true;
            if (48 <= ew && ew <= 57)
                return true;
            if (65 <= ew && ew <= 90)
                return true;
            if (97 <= ew && ew <= 122)
                return true;
            alert("Faqat lotin harflari va raqamlar kiriting")

            return false;
        });


        $(document).ready(function () {
            $("#category").change(function () {

                var selectedCategory = $(this).children("option:selected").val();
                $.ajax({
                    type: "GET",
                    url: "{% url 'sign:get_video' %}",
                    data: {
                        'category': selectedCategory, // from form

                    },
                    success: function (message) {
                        $('#video').empty().append(message)

                    },

                });
            });
        });
    </script>
{% endblock bottom %}