{% extends 'base.html' %}
{% load quiz_tags %}
{% load static %}
{% block content %}
    <div class="alert alert-light text-center fixed-top"><b>{% if lang == 'uz' %}Imtihon {% elif lang == 'kr' %}
        Имтихон {% elif lang == 'ru' %}Экзамен {% endif %}<span id='countDown'>

</span></b></div>
    <div class="row ml-3 mr-3">


        <!-- left column -->
        <div class="col-md-12" style=" margin-bottom: 50px">
            <div class="alert alert-danger text-center"><b>
                {% if lang == 'uz' %}
                    Sizga taqdim etilayotgan imtihon savollari mashg'ulot rejimida mavjud biletlar asosida shakllantirilgan
                {% elif lang == 'kr' %}
                    Сизга тақдим етилаётган имтиҳон саволлари машғулот режимида мавжуд билетлар асосида шакллантирилган
                {% elif lang == 'ru' %}
                    Экзаменационные вопросы, предлагаемые вам, сформированы на основе имеющихся билетов в режиме обучения
                {% endif %}</b></div>
            <p id="append"></p>
            <div class="col-12 " id="video_bottom_question">
                {% for savol in savollar %}
                    <div class="privew" data-id="{{ savol.id }}" data-btn="{{ forloop.counter }}">

                        {% csrf_token %}
                        <div class="questionsBox">
                            {% if lang == 'uz' %}
                                <div class="questions">№{{ forloop.counter }} {{ savol.title_uz }}
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <center>
                                            {% if savol.photo %}
                                                <img src="{{ savol.photo.url }}" alt=""
                                                     width="100%"
                                                     height="auto"
                                                     style="margin: 0 auto">
                                            {% else %}
                                                <img src="{% static 'online/no-image.jpg' %}" class="d-none d-lg-block"
                                                     alt=""
                                                     width="100%"
                                                     height="auto"
                                                     style="margin: 0 auto">
                                            {% endif %}
                                        </center>
                                    </div>
                                    <div class="col-md-5" id="javob">

                                        {% for javob in savol.questions.all %}
                                            <div id="javob{{ javob.id }}"
                                                 data-id="{{ javob.id }}"
                                                 class="mt-3 btn text-left javob">
                                                {{ forloop.counter }}). {{ javob.text_uz }}
                                            </div>
                                        {% endfor %}

                                    </div>

                                </div>
                            {% elif lang == 'kr' %}
                                <div class="questions">№{{ forloop.counter }} {{ savol.title_kr }}
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <center>
                                            {% if savol.photo %}
                                                <img src="{{ savol.photo.url }}" alt=""
                                                     width="100%"
                                                     height="auto"
                                                     style="margin: 0 auto">
                                            {% else %}
                                                <img src="{% static 'online/no-image.jpg' %}" class="d-none d-lg-block"
                                                     alt=""
                                                     width="100%"
                                                     height="auto"
                                                     style="margin: 0 auto">
                                            {% endif %}
                                        </center>
                                    </div>
                                    <div class="col-md-5" id="javob">


                                        {% for javob in savol.questions.all %}
                                            <div id="javob{{ javob.id }}"
                                                 data-id="{{ javob.id }}"
                                                 class=" mt-3 btn text-left javob">
                                                {{ forloop.counter }}). {{ javob.text_kr }}
                                            </div>
                                        {% endfor %}

                                    </div>

                                </div>
                            {% elif lang == 'ru' %}
                                <div class="questions">№{{ forloop.counter }} {{ savol.title_ru }}
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <center>
                                            {% if savol.photo %}
                                                <img src="{{ savol.photo.url }}" alt=""
                                                     width="100%"
                                                     height="auto"
                                                     style="margin: 0 auto">
                                            {% else %}
                                                <img src="{% static 'online/no-image.jpg' %}" class="d-none d-lg-block"
                                                     alt=""
                                                     width="100%"
                                                     height="auto"
                                                     style="margin: 0 auto">
                                            {% endif %}
                                        </center>
                                    </div>
                                    <div class="col-md-5" id="javob">
                                        {% for javob in savol.questions.all %}
                                            <div id="javob{{ javob.id }}"
                                                 data-id="{{ javob.id }}"
                                                 class=" mt-3 btn text-left javob">
                                                {{ forloop.counter }}). {{ javob.text_ru }}
                                            </div>
                                        {% endfor %}

                                    </div>

                                </div>
                            {% endif %}
                        </div>


                    </div>
                {% endfor %}

            </div>


            <div class="result-footer">
                <p id="countdown"></p>
                <div class="progress result-progress mb-2">
                    <div role="progressbar" aria-valuenow="40"
                         aria-valuemin="2"
                         aria-valuemax="10" id="progress_css"><b id="progress_data"></b>
                    </div>
                </div>
                {% for savol in savollar %}
                    <button id="btn-{{ forloop.counter }}"
                            class="result-answers col-1 mr-1 mt-2">{{ forloop.counter }}</button>
                {% endfor %}

            </div>


        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

    <script>

        $(document).ready(function (event) {
            var answerTrue = 0;
            var answerFalse = 0;
            var answers = 0;

            var TrueTitle;
            var FalseTitle;
            var swalButtonTitle;
            var swalText;
            var lang = '{{ lang }}';
            if (lang == 'uz') {
                TrueTitle = '<h3 style="color: #89e790" class="title">Imtihon topshirildi !</h3>'
                FalseTitle = '<h3 style="color: red" class="title">Imtihon topshirilmadi !</h3>'
                swalButtonTitle = 'Qayta topshirish'
                swalText = 'Qaytadan topshirmoqchimisiz ?'
            } else if (lang == 'kr') {
                TrueTitle = '<h3 style="color: #89e790" class="title">Имтихон топширилди !</h3>'
                FalseTitle = '<h3 style="color: red" class="title">Имтихон топширилмади !</h3>'
                swalButtonTitle = 'Қайта топшириш'
                swalText = 'Қайтадан топширмоқчимисиз ?'
            } else if (lang == 'ru') {
                TrueTitle = '<h3 style="color: #89e790" class="title">Экзамен cдал !</h3>'
                FalseTitle = '<h3 style="color: red" class="title">Экзамен не cдал !</h3>'
                swalButtonTitle = 'Повторение'
                swalText = 'Хотите повторить ?'
            }


            var html = $('.result-footer').children()

            $('#javob div').on('click', function (event) {
                event.preventDefault();
                var javobId = $(this).data("id");
                var savolId = $(this).parents('.privew').data('id');
                var foorlopCounter = $(this).parents('.privew').data('btn');
                var colorRed = '#ef6565';
                var colorGreen = '#89e790';
                var result = parseInt(answerTrue) * 100 / 10;
                var progressClass;
                if (result >= 80) {
                    progressClass = 'progress-bar progress-bar-striped bg-success'
                } else if (result < 71 && result > 39) {
                    progressClass = 'progress-bar progress-bar-striped bg-warning'
                } else if (result < 31) {
                    progressClass = 'progress-bar progress-bar-striped bg-danger'
                } else {
                    console.log('class mavjud emas')
                }




                $('#progress_css').attr('class', '').attr('class', progressClass);




                $.ajax({

                    method: "GET",
                    url: "{% url 'quiz:get_true_answer' %}",
                    data: {
                        'javob': javobId,
                        'savol': savolId,

                    },


                    success: function (message) {

                        if (message == "True") {
                            answerTrue = answerTrue + 1;
                            answers = answers +1;

                            $('#progress_data').empty().append(`${answerTrue * 10}%`);
                            $('#progress_css').css('width', `${answerTrue * 10}%`);

                            $('#javob' + javobId).css({"background-color": colorGreen,}).siblings().addClass('disableddiv');
                            $('#javob' + javobId).addClass('disableddiv')
                            if ('#btn-' + foorlopCounter) {
                                $('#result-btn').attr('id', 'btn-' + javobId);
                                $('#btn-' + foorlopCounter).css('background-color', colorGreen)
                            } else {

                                console.log('topilmadi')
                            }

                        } else {
                            answerFalse = answerFalse + 1;
                            answers = answers +1;
                            $('#javob' + javobId).css({"background-color": colorRed,}).siblings().addClass('disableddiv');
                            $('#javob' + javobId).addClass('disableddiv')
                            if ('#btn-' + foorlopCounter) {
                                $('#result-btn').attr('id', 'btn-' + javobId);
                                $('#btn-' + foorlopCounter).css('background-color', colorRed)
                            } else {
                                console.log('topilmadi')
                            }
                        }

                        if (answerFalse >= 2) {
                            //imtihondan o'ta olmadi
                            clearInterval(interval)
                            Swal.fire({
                                {#icon: 'error',#}
                                title: FalseTitle,
                                {#background: '#ffecec',#}
                                text: swalText,
                                html: html,
                                {#timer: 2000,#}
                                showConfirmButton: true,
                                confirmButtonText: swalButtonTitle,
                                {#confirmButtonColor: '#a5c7f6',#}
                                {#footer: footerMsg,#}
                            }).then(function (isConfirm) {
                                if (isConfirm) {
                                    {#history.go(0);#}
                                    window.location.href = window.location.href;

                                }
                            })
                        } else if (answers == 10) {

                            //imtihondan o'tdi
                            clearInterval(interval)
                            Swal.fire({
                                {#icon: 'error',#}
                                title: TrueTitle,
                                {#background: '#ffecec',#}
                                text: swalText,
                                html: html,
                                {#timer: 2000,#}
                                showConfirmButton: true,
                                confirmButtonText: swalButtonTitle,
                                {#confirmButtonColor: '#a5c7f6',#}
                                {#footer: footerMsg,#}
                            }).then(function (isConfirm) {
                                if (isConfirm) {
                                    window.location.href = window.location.href;
                                }
                            })
                        }
                    },
                    error: function (message) {
                        console.log(message)
                    },
                });


            });

            let countdowntime = 900;
            let Time = 0
            let p = document.getElementById('countDown')
            let p2 = document.getElementById('countdown')

            let interval = setInterval(updateCountDown, 1000)

            function updateCountDown() {
                let minutes = Math.floor(countdowntime / 60)
                let seconds = countdowntime % 60

                let finishMinutes = Math.floor(Time / 60)
                let finishSeconds = Time % 60

                seconds = seconds < 10 ? '0' + seconds : seconds
                minutes = minutes < 10 ? '0' + minutes : minutes

                finishSeconds = finishSeconds < 10 ? '0' + finishSeconds : finishSeconds
                finishMinutes = finishMinutes < 10 ? '0' + finishMinutes : finishMinutes
                p.innerHTML = `${minutes}:${seconds}`
                p2.innerHTML = `${finishMinutes}:${finishSeconds}`


                countdowntime--;
                Time++;

                if (countdowntime < 0) {
                    clearInterval(interval)

                    Swal.fire({
                        {#icon: 'error',#}
                        title: FalseTitle,
                        {#background: '#ffecec',#}
                        text: swalText,
                        html: html,
                        {#timer: 2000,#}
                        showConfirmButton: true,
                        confirmButtonText: swalButtonTitle,
                        {#confirmButtonColor: '#a5c7f6',#}
                        {#footer: footerMsg,#}
                    }).then(function (isConfirm) {
                        if (isConfirm) {
                            window.location.href = window.location.href;
                        }
                    })


                }

            }
        });

    </script>


    <script>

    </script>

{% endblock content %}



