{% extends 'base.html' %}
{% load static %}
{% block top %}
<link href="https://fonts.googleapis.com/css2?family=Rowdies&display=swap" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="container-fluid">
     <div class="card-header bg-primary">
                <h3 class="card-title">{% if lang == 'ru' %}Выберите нужный вариант:{% elif lang == 'kr' %}Керакли танловни танланг:{% else %}Kerakli tanlovni tanlang:{% endif %}</h3>
            </div>
        <div class="row justify-content-center">
            <a class="col-5 box-type img-1"
               href="{% url 'quiz:select_type' %}?lang={{ lang }}&type=T">

                <div class="text-center text-light">
                    {% if lang == 'uz' %}Mashg'ulot{% elif lang == 'kr' %}Машғулот{% elif lang == 'ru' %}
                        Тренировка{% endif %}
                </div>
            </a>
            <div class="col-1"></div>
            <a class="col-5 box-type img-2"
               href="{% url 'quiz:select_type' %}?lang={{ lang }}&type=I">

                <div class="text-center text-light">
                    {% if lang == 'uz' %}Imtihon{% elif lang == 'kr' %}Имтиҳон{% elif lang == 'ru' %}Экзамен{% endif %}
                </div>
            </a>

        </div>

    </div>

{% endblock content %}



