{% extends 'base.html' %}
{% load quiz_tags %}
{% load static %}
{% block content %}
    <div class="alert alert-light text-center fixed-top"><b>{% if lang == 'uz' %}Bilet{% elif lang == 'kr' %}
        Билет{% elif lang == 'ru' %}Билеть{% endif %} № {{ bilet }}</b></div>
    <div class="row ml-3 mr-3">


        <!-- left column -->
        <div class="col-md-12" style=" margin-bottom: 50px">


            <p id="append"></p>
            <div class="col-12 " id="video_bottom_question">
                {% for savol in savollar %}
                    <div class="privew" data-id="{{ savol.id }}" data-bool="False">

                        {% csrf_token %}
                        <div class="questionsBox">
                            {% if lang == 'uz' %}
                                {% include 'quiz/inc/question_lang_uz.html' %}
                            {% elif lang == 'kr' %}
                                {% include 'quiz/inc/question_lang_kr.html' %}
                            {% elif lang == 'ru' %}
                                {% include 'quiz/inc/question_lang_ru.html' %}
                            {% endif %}
                        </div>

                    </div>
                {% endfor %}
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6">
                                            {% if bilet.number is not 1 %}
                                                <a href="?lang={{ lang }}&bilet={{ bilet.number|add:-1 }}" class="btn btn-outline-primary btn-block text-capitalize">{{ bilet.number|add:-1 }}-bilet <span aria-hidden="true">&laquo;&laquo;</span></a>

                                            {% endif %}
                                        </div>
                                        <div class="col-6">
                                        {% get_bilet_color bilet.id user.id as color %}
                                            {% if color %}
                                            {% if bilet.number is not last_active_bilet %}
                                                <a href="?lang={{ lang }}&bilet={{ bilet.number|add:1 }}" class="btn btn-outline-primary btn-block text-capitalize"><span aria-hidden="true">&raquo;&raquo;</span>  {{ bilet.number|add:1 }}-bilet </a>
                                            {% endif %}
                                            {% else %}
                                                 {% if bilet.number is not last_active_bilet %}
                                                <a href="?lang={{ lang }}&bilet={{ bilet.number|add:1 }}" class="btn btn-outline-danger btn-block text-capitalize bilet-btn"><span aria-hidden="true">&raquo;&raquo;</span>  {{ bilet.number|add:1 }}-bilet </a>
                                            {% endif %}
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>


            </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>

        $(document).ready(function (event) {
            var answerTrue = 0;
            var answerFalse = 0;
            var answers = 0;

            $('#javob div').on('click', function (event) {
                event.preventDefault;
                var javobId = $(this).data("id");
                var savolId = $(this).parents('.privew').data('id');
                var bilet = '{{ bilet }}'
                var colorRed = '#ef6565'
                var colorGreen = '#89e790'


                $.ajax({
                    method: "GET",
                    url: "{% url 'quiz:get_true_answer' %}",
                    data: {
                        'javob': javobId,
                        'savol': savolId,
                        // from form
                    },
                    success: function (message) {

                        if (message == "True") {
                            $('#javob' + javobId).css({"background-color": colorGreen,});

                            if ($('#javob' + javobId).parents('.privew').data('bool') == 'False') {
                                $('#javob' + javobId).parents('.privew').data('bool', 'True')
                                answerTrue = answerTrue + 1
                                answers = answers + 1

                                if (answerTrue === 10) {
                                    $.ajax({
                                        method: "GET",
                                        url: "{% url 'quiz:get_bilet_color' %}",
                                        data: {
                                          'bilet': bilet,
                                        },
                                        success: function (message) {
                                            console.log(message)
                                        },
                                        error: function (message) {

                                        }
                                    })
                                }

                            } else {

                            }

                            {#console.log($('#javob').data('bool'))#}


                        } else {
                            $('#javob' + javobId).css({"background-color": colorRed,});

                            if ($('#javob' + javobId).parents('.privew').data('bool') == 'False') {
                                $('#javob' + javobId).parents('.privew').data('bool', 'True')
                                answerFalse = answerFalse + 1
                                answers = answers + 1
                            } else {

                            }
                            {#console.log($('#javob').data('bool'))#}


                        }

                    },
                    error: function (message) {
                        console.log(message)
                    },
                });


            });

            $('.bilet-btn').click(function (event) {

                var lang = '{{ lang }}'
                var next_bilet = {{ bilet.number|add:1 }}
                if (lang == 'uz') {
                    var Title = 'Ruxsat berilmagan!';
                    var swalButtonTitle = 'Oynani yopish';
                    var html = "Siz " + next_bilet + "-biletga o'tish uchun ushbu savolarni to'liq o'zlashtirishingiz talab etiladi";
                } else if (lang == 'kr') {
                    var Title = 'Рухсат берилмаган!';
                    var swalButtonTitle = 'Ойнани ёпиш';
                    var html = "Сиз " + next_bilet + "-билетга ўтиш учун ушбу саволарни тўлиқ ўзлаштиришингиз талаб етилади";
                } else if (lang == 'ru') {
                    var Title = 'Доступ запрещен!';
                    var swalButtonTitle = 'Закрыть';
                    var html = "Вы должны полностью освоить эти вопросы, чтобы перейти на " + next_bilet + "-й билет";
                }


                if ($(this).hasClass('open_bilet')) {

                } else {
                    event.preventDefault()
                    Swal.fire({
                        icon: 'warning',
                        title: Title,
                        // {#background: '#ffecec',#}
                        {#text: swalText,#}
                        html: html,
                        // {#timer: 2000,#}
                        showConfirmButton: true,
                        confirmButtonText: swalButtonTitle,
                        confirmButtonColor: '#d42a2a',
                        // {#footer: footerMsg,#}
                    }).then(function (isConfirm) {
                        if (isConfirm) {

                            {#window.location.href = window.location.href;#}

                        }
                    })
                }


            });

        });








    </script>


{% endblock content %}



