{% extends 'base.html' %}

{% block content %}

    <div class="row" style="margin: auto">
        <!-- left column -->
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12" style="margin: auto">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">O'quvchi qo'shish</h3>
                </div>
                {% include 'inc/messages.html' %}

                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" method="POST" action="{% url 'user:add_pupil' %}">
                    {% csrf_token %}
                    <div class="card-body">

                        <div class="form-group">
                            <label class="label_required" for="exampleInputname">F.I.O</label>
                            <input type="text" name="name" class="form-control" id="exampleInputname"
                                   placeholder="F.I.O ni kiriting ..." required="required">
                        </div>

                        <div class="form-group">
                            <label class="label_required" for="exampleInputname">Guruh</label>
                            <select name="group" class="form-control" id="" required="required">
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.category }}-{{ group.number }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="label_required" for="exampleInputname">Pasport</label>
                            <input type="text" name="pasport" maxlength="9" minlength="7" class="form-control"
                                   id="exampleInputPasport"
                                   placeholder="Masalan: AA1234567" required="required" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label class="label_required" for="phone">Telefon raqami</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">+998</div>
                                </div>
                                <input type="number" class="form-control" id="phone" required="required" min="100000000"
                                       max="999999999"
                                       name="phone"
                                       placeholder="Telefon raqamini kiriting. Masalan: 901234567" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="birthday">Tug'ilgan yili:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="birthday" name="birthday">
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Saqlash</button>
                        <button type="reset" class="btn btn-danger">Tozalash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block bottom %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $("#exampleInputPasport").keypress(PassportInputFilter);

        $(function () {

            $("#birthday").datepicker({
                dateFormat: "dd.mm.yy",
                // defaultDate: '01-01-1985',
                // value: "7/11/2011",
                showButtonPanel: true,
                numberOfMonths: 2,
                //startDate: "-30d",
                //endDate: "+30d",
                //currentText: 'Today',
                autoclose: true,
                changeMonth: false,
                changeYear: false,
                //gotoCurrent: true,
                //stepMonths: 0,
                //duration: 'fast',
                // yearRange: '1920:2030',

                // beforeShow: function () {
                //     alert('show');
                //    $("#ui-datepicker-div").addClass("DatePikerEN");
                //},


            })

            $("#birthday").datepicker('setDate', new Date());
        })


        $('#phone').keyup(function () {
            var test = $('#phone').val();
            var pattern = /^\d{9}$/;
            if (test.match(pattern)) {
                $('#phone').css("border", "1px solid green");
                $('#phone').css("border-radius", "7px");
                $('#phone').css("background", "#f4fef3");

            } else {
                $('#phone').css("border", "1px solid red");
                $('#phone').css("border-radius", "4px");
                $('#phone').css("background", "#fef8f8");

            }
        });



    </script>
{% endblock bottom %}