{% extends 'base.html' %}
{% load static %}
{% load user_tags %}
{% block top%}
    <link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
{% endblock top %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">{{ pupil }}ning ko'rishlar tarixi</h3>
                </div>
                {% include 'inc/messages.html' %}
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                <div class="table-responsive">
                    <table id="example1" style="font-size: 0.9rem" class="table table-bordered table-hover">
                        <thead>
                        <tr style="background-color: #ecebeb">
                            <th style="width: 5%">№</th>
                            <th>Video nomi</th>
                            <th>Ko'rilgan</th>
                            <th>Ko'rilgan vaqti</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for video in videos %}
                            {% get_view pupil.id video.id as view %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'video:video_detail' video.id %}">{{ video.title }}</a></td></td>
                                <td style="width: 5%;" >{% if view %}<i style="color: #00b44e; padding-left: 40%" class="fas fa-check-circle"></i>{% else %}<i style="color: red;padding-left: 40%" class="fas fa-times-circle"></i>{% endif %}</td>
                                <td>{{ view.time|date:'SHORT_DATETIME_FORMAT' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block bottom %}
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock bottom %}
