{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin: auto">
        <!-- left column -->
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12" style="margin: auto">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">O'quvchini tahrirlash</h3>
                </div>
                {% include 'inc/messages.html' %}
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" action="{% url 'user:edit_pupil' user.id %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form }}
                    </div> 

                   
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Saqlash</button>
                        <button type="reset" class="btn btn-danger">Tozalash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
{% endblock content %}
{% block bottom %}
    <script>


    {% if form.passport_issued_time == Null %}
   $(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if (month < 10) 
        month = "0" + month;
    if (day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    $('#passport_issued_time').val(today);
});
{% endif %}

{% if form.medical_issued_date == Null %}
$(document).ready( function() {
    var now = new Date();
    var month = (now.getMonth() + 1);               
    var day = now.getDate();
    if (month < 10) 
        month = "0" + month;
    if (day < 10) 
        day = "0" + day;
    var today = now.getFullYear() + '-' + month + '-' + day;
    $('#medical_issued_date').val(today);
});
{% endif%}

    $(document).ready(function () {
        $("#pasport").keypress(PassportInputFilter);

        $("#region").change(function () {


            var selectedCountry = $(this).children("option:selected").val();
            $.ajax({
                type: "GET",
                url: "{% url 'user:get_district' %}",
                data: {
                    'region': selectedCountry, // from form
                },
                success: function (message) {
                    $('#district').empty().append(message)
                    {#var e = $('<div style="display:block; float:left;width:' + width + 'px; height:' + height + 'px; margin-top:' + positionY + 'px;margin-left:' + positionX + 'px;border:1px dashed #CCCCCC;"></div>');#}
                    {#$('#append').append(e);#}
                    {#e.attr('id', 'myid');#}
                }
            });
        });

        $('#phone').keyup(function () {
            var test = $('#phone').val();
            var pattern = /^\d{9}$/;
            if (test.match(pattern)) {
                $('#phone').css("border", "1px solid green");
                $('#phone').css("border-radius", "7px");
                $('#phone').css("background", "#f4fef3");

            } else {
                $('#phone').css("border", "1px solid red");
                $('#phone').css("border-radius", "4px");
                $('#phone').css("background", "#fef8f8");

            }
        });


    });

</script>
{% endblock bottom %}