.idea/
venv/
onless/onless/__pycache__/
onless/quiz/__pycache__/
onless/user/__pycache__/
onless/video/__pycache__/
onless/__pycache__/
onless/video/templatetags/__pycache__/
onless/sign/__pycache__/
onless/db.sqlite3
onless/sign/templatetags/__pycache__/
onless/static.zip
onless/user/templatetags/__pycache__/
*.pyc
onless/quiz/migrations/0001_initial.py
onless/quiz/migrations/0002_auto_20200604_1403.py
onless/quiz/migrations/0003_question_is_active.py
onless/quiz/migrations/0004_auto_20200604_1936.py
onless/quiz/migrations/0005_auto_20200605_1051.py
onless/sign/migrations/0001_initial.py
onless/user/migrations/0001_initial.py
onless/user/migrations/0002_user_turbo.py
onless/user/migrations/0003_auto_20200605_1052.py
onless/user/migrations/0004_auto_20200605_1053.py
onless/user/migrations/0005_remove_user_turbo.py
onless/user/migrations/0006_user_turbo.py
onless/user/migrations/0007_auto_20200605_1230.py
onless/video/migrations/0001_initial.py
onless/media/photo/2020-06-01/1.jpeg
onless/media/photo/2020-06-01/chorraha-logo-for-site.png
onless/media/photo/2020-06-04/01.jpg
onless/media/photo/2020-06-04/1.1.gif
onless/media/photo/2020-06-04/atamalar.jpg
onless/media/photo/2020-06-04/avto_tuzilish.jpg
onless/media/photo/2020-06-04/avto_tuzilish_EBGhDYk.jpg
onless/media/photo/2020-06-04/birinchi_tibbiy_yordam.jpg
onless/media/photo/2020-06-04/birinchi_tibbiy_yordam_TfvMVHa.jpg
onless/media/photo/2020-06-04/chorrahada_harakatlanish.jpg
onless/media/photo/2020-06-04/imtiyozli-belgilar.jpg
onless/media/photo/2020-06-04/ogohlantiruvchi.jpg
onless/media/photo/2020-06-04/ogohlantiruvchi_tfM2qfI.jpg
onless/media/photo/2020-06-04/xavfsiz_boshqarish.jpg
onless/media/photo/2020-06-04/xavfsiz_boshqarish_rva0ij5.jpg
onless/media/photo/2020-06-04/yol_belgilari.jpg
onless/media/photo/2020-06-04/yol_harakati.jpg
onless/media/photo/
onless/media/quiz/
onless/media/sign/
onless/media/user/
onless/media/video/
onless/user/migrations/0002_auto_20200605_1917.py
onless/media/school/1.jpeg
onless/quiz/migrations/0002_auto_20200607_0746.py
onless/media/school/logo.png
onless/media/school/1.1.gif
onless/media/school/2.1.gif
onless/user/migrations/0002_auto_20200607_1855.py
onless/user/migrations/0003_auto_20200607_1912.py
onless/user/migrations/0005_auto_20200607_1942.py
onless/user/migrations/0004_contact.py
onless/onless/settings/local.py
onless/media/school/1.1_ggONL0Q.gif
db.sqlite3
onless/onless/settings.py
onless/user/migrations/0006_auto_20200608_1151.py
onless/user/migrations/0007_auto_20200608_1631.py
onless/user/migrations/0008_auto_20200608_1750.py
onless/user/migrations/0009_auto_20200608_1752.py
env/
onless/media/school/0001_LG_F0J5LN3W_5кг-700x850.jpg
onless/media/school/icon_django.png
onless/quiz/migrations/0002_auto_20200608_1854.py
onless/user/migrations/0010_auto_20200609_1909.py
onless/user/migrations/0002_auto_20200609_2214.py
onless/user/migrations/
onless/video/migrations/0006_auto_20200611_1502.py
onless/video/migrations/0004_video_school.py
onless/video/migrations/0005_auto_20200611_1212.py
onless/video/migrations/0003_remove_video_description.py
onless/video/migrations/0002_video_is_active.py
onless/quiz/migrations/0004_auto_20200611_1517.py
onless/quiz/migrations/0003_question_pub_date.py
onless/video/migrations/
onless/quiz/migrations/
onless/media/category/
onless/media/school/
onless/media/excel/
onless/sign/migrations/
onless/onless/local_settings.py