.idea/
venv/
onless/video/migrations/
onless/user/migrations/
onless/quiz/migrations/
onless/onless/__pycache__/
onless/quiz/__pycache__/
onless/user/__pycache__/
onless/video/__pycache__/
onless/media/
onless/__pycache__/
onless/video/templatetags/__pycache__/
onless/sign/__pycache__/
onless/sign/migrations/
onless/db.sqlite3
onless/sign/templatetags/__pycache__/
onless/static.zip
