<li class="nav-item has-treeview">
    <a href="{% url 'user:add_list' %}" class="nav-link {% if request.resolver_match.url_name == 'add_list' or request.resolver_match.url_name == 'add_teacher' or request.resolver_match.url_name == 'add_pupil' or request.resolver_match.url_name == 'add_group' or request.resolver_match.url_name == 'add_schedule' or request.resolver_match.url_name == 'add_subject' or request.resolver_match.url_name == 'add_material' or request.resolver_match.url_name == 'add_bugalter' %}active{% endif %}">
        &nbsp;<i class="fas fa-folder-plus"></i>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Kiritishlar
        </p>
    </a>
</li>