<li class="nav-item has-treeview">
    <a href="
    {% if request.user.role == '4' %}
{% url 'user:history_pupil_view_video' request.user.id %}
{% else %}
{% url 'user:history_view_video_all' %}
{% endif %}
" class="nav-link {% if request.resolver_match.url_name == 'history_view_video_all' or request.resolver_match.url_name == 'history_pupil_view_video' %}active{% endif %}">
        &nbsp<i class="fas fa-history"></i>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Ko'rishlar tarixi
        </p>
    </a>
</li>