<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="{% url 'video_mainsections_list_url' %}" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p> &nbsp;Videodarslar
                    <span class="right badge badge-primary">onlayn</span>
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="{% url 'sign' %}" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                    Yo'l belgilari
                </p>
            </a>
        </li>
    </ul>
</nav>