<li class="nav-item has-treeview">
    <a href="{% url 'video:categories_list' %}" class="nav-link {% if request.resolver_match.url_name == 'categories_list' or request.resolver_match.url_name == 'category_detail' or request.resolver_match.url_name == 'videos_list' or request.resolver_match.url_name == 'video_detail' %}active{% endif %}">
        &nbsp;<i class="fas fa-video"></i>&nbsp;&nbsp;
        <p> &nbsp;Videodarslar
            <span class="right badge badge-info">onlayn</span>
        </p>

    </a>
</li>
