{% extends 'base.html' %}
{% load quiz_tags %}
{% load user_tags %}
{% load humanize %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">{{ group.category }}-{{ group.number }}-{{ group.year }} guruhi o'quvchilari
                        ro'yhati</h3>
                </div>
            {% include 'inc/messages.html' %}
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-hovered">
                        <thead>
                        <tr style="background-color: #ecebeb">
                            <th>№</th>
                            <th>O'quvchining ism familiyasi</th>
                            <th>Umumiy</th>
                            <th>To'lovi</th>
                            <th>Qarzdorligi</th>
                            <th>To'lov qo'shish</th>
                            <th>To'lovlar tarixi</th>
                            {% if request.user.role == '2' or request.user.role == '3' %}
                                <th>
                                    Tahrirlash
                                </th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for pupil in pupils %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><b>{{ pupil.name }}</b></td>
                                {% get_payments pupil.id group.id as payment %}
                                <td>{{ payment.total|intcomma }}</td>
                                <td style="color: green">{{ payment.payment|intcomma }}</td>
                                <td style="color: red">{{ payment.debit|intcomma }}</td>
                                <td>
                                    <form action="{% url 'user:add_pay' %}" method="post">
                                        {% csrf_token %}
                                        <input type="number" name="pay">
                                        <input type="hidden" name="pupil" value="{{ pupil.id }}">
                                        <input type="hidden" name="group" value="{{ group.id }}">
                                        <button><i class="fas fa-plus-square"></i></button>
                                    </form>
                                </td>

                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function add_pupil() {
            alert("Hozir sizga Excellda namuna taqdim etiladi. Ushbu namuna orqali o'quvchilarni qo'shishingiz mumkin. Ushbu namunaga ma'lumotlarni to'g'ri kiritishga e'tibor bering")
            document.getElementById('button_add_pupil').style.display = 'none';
            document.getElementById('export_excel_form').style.display = 'block';
        }

    </script>
{% endblock content %}
