{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Viloyatlar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Saytga oʻtish</a></li>
                        <li class="breadcrumb-item active">Viloyat</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Toifasi</label>
                                        <br>
                                        {{ form.category }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Nomer</label>
                                        <br>
                                        {{ form.number }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>O'quv yili</label>
                                        <br>
                                        {{ form.year }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>O'qituvchi</label>
                                        <br>
                                        <select name="teacher">
                                            {% for i in teachers %}
                                                <option value="{{ i.id }}">{{ i.username }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Avtomobil tuzilishi o'qituvchisi</label>
                                        <br>
                                        <select name="car_structure_teacher">
                                            {% for i in teachers %}
                                                <option value="{{ i.id }}">{{ i.username }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Avtomaktab</label>
                                        <br>
                                        {{ form.school }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>O'qish boshlanishi</label>
                                        <br>
                                        <input type="date" id="id_start" name="start" required="">
                                        {#                                        {{ form.start }}#}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>O'qish tugashi</label>
                                        <br>
                                        <input type="date" id="id_stop" name="stop" required="">
                                        {#                                        {{ form.stop }}#}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Pul</label>
                                        <br>
                                        {{ form.price }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Instruktorlar</label>
                                        <br>
                                        <textarea class="form-control" id="id_instructors" name="instructors"
                                                  rows="3"></textarea>
                                        {#                                        {{ form.instructors }}#}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert   alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Sort</label>
                                        <br>
                                        {{ form.sort }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Saqlash</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}