{% extends 'base.html' %}
{% load user_tags %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Guruhlar ro'yhati</h3>
                </div>
                {% include 'inc/messages.html' %}

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example1" style="font-size: 0.9rem" class="table table-bordered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th style="width: 3%">№</th>
                                <th>Guruh nomi</th>
                                <th>Guruh rahbari</th>
                                <th style="width: 15%">O'qish boshlanishi</th>
                                <th style="width: 15%">O'qish yakunlanishi</th>
                                {% if request.user.role == '2' or request.user.role == '3' %}
                                    <th style="width: 14%">Tahrirlash</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for group in groups %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    {% get_fullname_group group.id as group_name %}
                                    <td>
                                        {% if request.user.role == '2' or request.user.role == '3' %}
                                            <a href="{% url 'user:group_detail' group.id %}">
                                                <b id="group_name">{{ group_name }}</b>
                                            </a>
                                        {% else %}
                                            <b id="group_name">{{ group_name }}</b>
                                        {% endif %}
                                    </td>
                                    <td>{% if group.teacher %}{{ group.teacher }}{% else %}{% endif %}</td>
                                    <td>{{ group.start|date:'SHORT_DATE_FORMAT' }}</td>
                                    <td>{{ group.stop|date:'SHORT_DATE_FORMAT' }}</td>
                                    {% if request.user.role == '2' or request.user.role == '3' %}
                                        <td>

                                            &nbsp;
                                            <a href="{% url 'user:group_detail' group.id %}"><i class="fas fa-eye"
                                            ></i></a>

                                            &nbsp;

                                            <a href="{% url 'user:group_update' group.id %}"><i class="fa fa-edit"
                                            ></i>
                                            </a>

                                            {% if request.user.role == '2' %}
                                                &nbsp;
                                                {% get_fullname_group group.id as group_name %}
                                                <a href="#"
                                                   onclick="delete_group({{ group.id }}, `{{ group_name }}`)"><i
                                                        class="fa fa-trash"
                                                ></i></a>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>

                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link data-require="sweet-alert@*" data-semver="0.4.2" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        function delete_group(group_id, group_name) {
            var groupId = group_id;
            var groupName = group_name;

            swal({
                title: "Guruhni o'chirmoqchimisiz ?",
                text: "Siz haqiqatdan ham " + groupName + " guruhini o'chirmoqchimisiz ?",
                icon: "warning",
                buttons: [
                    'Yoq, Bekor qilish!',
                    'Ha, Roziman!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal({
                        title: "Muvaffaqiyatli o'chirildi !",
                        text: groupName + " guruhi muvaffaqiyatli o'chirildi !",
                        icon: 'success'
                    }).then(function () {
                        $.ajax({
                            type: 'GET',
                            url: '/user/group-delete/' + groupId,
                        });
                        location.reload(true);
                    });
                } else {
                    swal("Bekor qilindi", groupName +" guruhingiz ro'yhatda turibti !", "error");
                }
            });
        }

    </script>
{% endblock content %}
