{% extends 'base.html' %}
{% load quiz_tags %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">O'quvchilar ro'yhati</h3>
                </div>

                {% include 'inc/messages.html' %}


                <a id="button_add_pupil" onclick="add_pupil()"
                   style="color: whitesmoke; margin-top: 1%;"
                   href="/media/online/namuna2.xlsx" class="col-lg-3 col-md-4 col-sm-12 ml-3 btn btn-secondary">Excel
                    orqali qo'shish</a>

                <form id="export_excel_form" style="display: none" class="form-group mt-3 ml-3"
                      action="{% url 'user:upload_file' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="file" name="file">
                    <input type="hidden" name="group" value="{{ group.id }}">
                    <input type="submit" class="btn btn-secondary" value="Yuklash">
                </form>
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table style="font-size: 0.9rem" id="example1"
                               class="table table-bordered table-hovered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th style="width: 2%">№</th>
                                <th>O'quvchining ism familiyasi</th>
                                <th>Tug'ilgan yili</th>
                                <th>Manzili</th>
                                <th>Telefon</th>
                                <th>Login</th>
                                <th>Parol</th>

                                <th>Javobga nisbatan o'zlashtirish</th>
                                <th>Umumiy o'zlashtirish</th>
                                {% if request.user.role == '2' or request.user.role == '3' %}
                                    <th style="width: 4%">
                                        Tahrirlash
                                    </th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for pupil in pupils %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><b><a
                                            href="{% url 'user:history_pupil_view_video' pupil.id %}">{{ pupil.name }}</a></b>
                                    </td>
                                    <td>{{ pupil.birthday|date:'SHORT_DATE_FORMAT' }}</td>
                                    <td>{% if pupil.district %}{{ pupil.district }}{% endif %}</td>
                                    <td>{% if pupil.phone %}+998{{ pupil.phone }}{% else %}--{% endif %}</td>
                                    <td>{{ pupil.username }}</td>
                                    <td>{{ pupil.turbo }}</td>
                                    {% pupil_result pupil.id as pupil_res %}
                                    <td title="Javoblar/To'g'ri javoblar:  {{ pupil_res.answer_count }}/{{ pupil_res.answer_true }}">
                                        <div class="progress">
                                            {% if pupil_res.answer_count > 0 and pupil_res.res > 0 %}
                                                <div class="progress-bar {% if pupil_res.res >= 85 and pupil_res.res <= 100 %}bg-success progress-bar-striped{% elif pupil_res.res >= 40 and pupil_res.res <= 84 %}bg-warning progress-bar-striped{% elif pupil_res.res < 40 %}bg-danger progress-bar-striped{% endif %}"
                                                     role="progressbar"
                                                     aria-valuenow="40" aria-valuemin="2"

                                                     aria-valuemax="6" style="width:{{ pupil_res.res }}%">
                                                    <b>{{ pupil_res.res }}%</b>
                                                </div>
                                            {% elif pupil_res.answer_count > 0 and pupil_res.res < 1 %}
                                                <div style="width: 100%; margin-left: 45%">0%</div>
                                            {% else %}
                                                <div style="margin-left: 10%">yechilmagan</div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td title="Savollar/To'g'ri javoblar:  {{ pupil_res.question_total_count }}/{{ pupil_res.answer_true }}">
                                        <div class="progress">

                                            {% if pupil_res.question_total_count > 0 and pupil_res.total_res > 0 %}
                                                <div class="progress-bar {% if pupil_res.total_res >= 85 and pupil_res.total_res <= 100 %}bg-success progress-bar-striped{% elif pupil_res.total_res >= 40 and pupil_res.total_res <= 84 %}bg-warning progress-bar-striped{% elif pupil_res.total_res < 40 %}bg-danger progress-bar-striped{% endif %}"
                                                     role="progressbar"
                                                     aria-valuenow="40" aria-valuemin="2"

                                                     aria-valuemax="6" style="width:{{ pupil_res.total_res }}%">
                                                    <b>{{ pupil_res.total_res }}%</b>
                                                </div>
                                            {% elif pupil_res.question_total_count > 0 and pupil_res.total_res < 1 %}
                                                <div style="width: 100%; margin-left: 45%">0%</div>
                                            {% else %}
                                                <div style="margin-left: 10%">yechilmagan</div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    {% if request.user.role == '2' or request.user.role == '3' %}
                                        <td>

                                            &nbsp;&nbsp;<a href="{% url 'user:edit_pupil' pupil.id %}"><i
                                                class="fa fa-edit"
                                        ></i></a>
                                            {% if request.user.role == '2' %}
                                                &nbsp;&nbsp;
                                                <a href="#" onclick='delete_pupil({{ pupil.id }},`{{ pupil.name }}`)'><i
                                                        class="fa fa-trash"
                                                ></i></a>
                                            {% endif %}

                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function add_pupil() {
            alert("Hozir sizga Excellda namuna taqdim etiladi. Ushbu namuna orqali o'quvchilarni qo'shishingiz mumkin. Ushbu namunaga ma'lumotlarni to'g'ri kiritishga e'tibor bering")
            document.getElementById('button_add_pupil').style.display = 'none';
            document.getElementById('export_excel_form').style.display = 'block';
        }

    </script>
    <link data-require="sweet-alert@*" data-semver="0.4.2" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        function delete_pupil(pupil_id, pupil_name) {
            var pupilId = pupil_id;
            var pupilName = pupil_name;

            swal({
                title: "O'quvchini o'chirmoqchimisiz ?",
                text: pupilName + "ni o'chirmoqchimisiz ?",
                icon: "warning",
                buttons: [
                    'Yoq, Bekor qilish!',
                    'Ha, Roziman!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal({
                        title: "Muvaffaqiyatli o'chirildi !",
                        text: pupilName + " muvaffaqiyatli o'chirildi !",
                        icon: 'success'
                    }).then(function () {
                        $.ajax({
                            type: 'GET',
                            url: '/user/pupil-delete/' + pupilId,
                        });
                        {#window.location.href = window.location.href;#}
                        {#location.reload()#}
                        {#history.go(0)#}
                        {#location.href = location.href#}
                        location.href = location.pathname
                        {#location.replace(location.pathname)#}
                        {#location.reload(false)#}
                    });
                } else {
                    swal("Bekor qilindi", pupilName + " ro'yhatda turibti !", "error");
                }
            });

        }


    </script>
{% endblock content %}
