{% extends 'base.html' %}
{% load user_tags %}
{% load sign_tags %}

{% block content %}
    <div class="row">
    {% get_count request.user.school.id as count %}
        {% if request.user.role == '2' %}
             <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-gradient-cyan">
                    <div class="inner">
                        <h3>{{ count.pupils }}</h3>

                        <h5>O'quvchilarni qo'shish</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <a href="{% url 'user:add_pupil' %}" class="small-box-footer"><i class="fas fa-plus"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-lightblue">
                    <div class="inner">

                        <h3>{{ count.teachers }}</h3>
                        <h5>O'qituvchilarni qo'shish</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-graduate"></i>
                    </div>
                    <a href="{% url 'user:add_teacher' %}" class="small-box-footer"><i class="fas fa-plus"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-gradient-cyan">
                    <div class="inner">
                        <h3>{{ count.groups }}</h3>

                        <h5>Guruhlarni qo'shish</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-layer-group"></i>
                    </div>
                    <a href="{% url 'user:add_group' %}" class="small-box-footer"><i class="fas fa-plus"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue">
                    <div class="inner">
                        <h3>{{ count.bugalters }}</h3>

                        <h5>Hisobchini qo'shish</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-coins"></i>
                    </div>
                    <a href="{% url 'user:add_bugalter' %}" class="small-box-footer"><i class="fas fa-plus"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue">
                    <div class="inner">
                        {% count_materials request.user.school.id as materials_count %}
                        <h3>{{ materials_count }}</h3>

                        <h5>Material qo'shish</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file-pdf"></i>
                    </div>
                    <a href="{% url 'sign:add_material' %}" class="small-box-footer"><i class="fas fa-plus"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue">
                    <div class="inner">
                        <h3>1</h3>

                        <h5>Mavzu qo'shish</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-book"></i>
                    </div>
                    <a href="{% url 'sign:add_schedule' %}" class="small-box-footer"><i class="fas fa-plus"></i></a>
                </div>
            </div>
        {% elif request.user.role == '3' %}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-gradient-teal">
                    <div class="inner">
                        <h3>{{ count.groups }}</h3>

                        <h5>Guruhlarni qo'shish</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-layer-group"></i>
                    </div>
                    <a href="{% url 'user:add_group' %}" class="small-box-footer"><i class="fas fa-plus"></i></a>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue">
                    <div class="inner">
                        <h3>{{ count.pupils }}</h3>

                        <h5>O'quvchilarni qo'shish</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <a href="{% url 'user:add_pupil' %}" class="small-box-footer"><i class="fas fa-plus"></i></a>
                </div>
            </div>

{#            <a href="{% url 'sign:add_material' %}">#}
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- small box -->
                <div class="small-box bg-gradient-lightblue">
                    <div class="inner">
                        {% count_materials request.user.school.id as materials_count %}
                        <h3>{{ materials_count }}</h3>
                        <h5>Material qo'shish</h5>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file-pdf"></i>
                    </div>
                    <a href="{% url 'sign:add_material' %}" class="small-box-footer"><i class="fas fa-plus"></i></a>
                </div>
            </div>
{#            </a>#}
{#            <div class="col-lg-6 col-md-6 col-sm-12">#}
{#                <!-- small box -->#}
{#                <div class="small-box bg-gradient-lightblue">#}
{#                    <div class="inner">#}
{#                        <h3>1</h3>#}
{##}
{#                        <h5>Mavzu qo'shish</h5>#}
{#                    </div>#}
{#                    <div class="icon">#}
{#                        <i class="fas fa-book"></i>#}
{#                    </div>#}
{#                    <a href="{% url 'sign:add_schedule' %}" class="small-box-footer"><i class="fas fa-plus"></i></a>#}
{#                </div>#}
{#            </div>#}
        {% endif %}


    </div>
{% endblock content %}
