{% load static %}
{% load sidebar_tags %}
{% load sign_category %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="{% static 'img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">ONLESS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/no-avatar.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Salohiddin Yoqubov</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li>
                    <a href="{% url 'video_lessons' %}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                        </p>
                        <p> &nbsp;Videodarslar
                            <span class="right badge badge-primary">onlayn</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            &nbsp;Bo'limlar

                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="{% url 'sign' %}" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Yo'l belgilari
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">6</span>
                        </p>
                    </a>
                    {% get_sign_category as categories %}
                    {% for category in categories %}
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>{{ category.title }}</p>
                                </a>
                            </li>
                        </ul>
                    {% endfor %}
                </li>
                <li>
                    <a href="" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            &nbsp;Yangiliklar

                        </p>
                    </a>
                </li>
                {% if request.user.is_authenticated and request.user.role == '2' %}
                    <li class="nav-item has-treeview">
                        <a href="" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                Kiritishlar
                                <i class="fas fa-angle-left right"></i>
                                <span class="badge badge-info right">2</span>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="{% url 'add_teacher_url' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>O'qituvchilarni qo'shish</p>
                                </a>
                            </li>
                             <li class="nav-item">
                                <a href="{% url 'add_pupil_url' %}" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>O'quvchilarni qo'shish</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>