{% load static %}
{% load sidebar_tags %}
{% load sign_category %}
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img src="{% static 'img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">ONLESS</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.url }}" class="img-circle elevation-2" alt="img">
                {% else %}
                    {% if request.user.gender %}
                        {% if request.user.gender == 'M' %}
                            <img src="{% static 'online/man.jpg' %}" class="img-circle elevation-2" alt="User Image">
                        {% elif request.user.gender == 'W' %}
                            <img src="{% static 'online/woman.jpg' %}" class="img-circle elevation-2" alt="User Image">
                        {% endif %}
                    {% else %}
                        <img src="{% static 'online/man.jpg' %}" class="img-circle elevation-2" alt="User Image">
                    {% endif %}
                {% endif %}
            </div>
            <div class="info">
                <a href="{% url 'user:edit_profil' %}" class="d-block">
                    {% if request.user.name %}{{ request.user.name|truncatewords:2 }}{% else %}
                        {{ request.user.username }}{% endif %}</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {% if user.is_authenticated and request.user.role == '1' %}
                    {% include 'inc/role_sidebar/schools_list_page.html' %}
                    {% include 'inc/role_sidebar/videos_page.html' %}
                    {% include 'inc/role_sidebar/signs_page.html' %}
                    {% include 'inc/role_sidebar/materials_page.html' %}
                    {% include 'inc/role_sidebar/settings_page.html' %}
                    {% include 'inc/role_sidebar/support.html' %}
                {% elif user.is_authenticated and request.user.role == '2' %}
                    {#                    {% include 'inc/role_sidebar/messeges_page.html' %}#}
                    {% include 'inc/role_sidebar/videos_page.html' %}
                    {% include 'inc/role_sidebar/workers_page.html' %}
                    {% include 'inc/role_sidebar/groups_page.html' %}
                    {% include 'inc/role_sidebar/payments_page.html' %}
                    {% include 'inc/role_sidebar/signs_page.html' %}
{#                    {% include 'inc/role_sidebar/tests.page.html' %}#}
                    {% include 'inc/role_sidebar/materials_page.html' %}
                    {% include 'inc/role_sidebar/history_view_video.html' %}
                    {#                    {% include 'inc/role_sidebar/schedule_page.html' %}#}
                    {% include 'inc/role_sidebar/add_page.html' %}
                    {% include 'inc/role_sidebar/settings_page.html' %}
                    {% include 'inc/role_sidebar/support.html' %}

                {% elif user.is_authenticated and request.user.role == '3' %}
                    {#                    {% include 'inc/role_sidebar/messeges_page.html' %}#}
                    {% include 'inc/role_sidebar/videos_page.html' %}
                    {% include 'inc/role_sidebar/payments_page.html' %}
                    {% include 'inc/role_sidebar/groups_page.html' %}
                    {% include 'inc/role_sidebar/signs_page.html' %}
                    {% include 'inc/role_sidebar/materials_page.html' %}
                    {% include 'inc/role_sidebar/history_view_video.html' %}
                    {#                    {% include 'inc/role_sidebar/schedule_page.html' %}#}
                    {% include 'inc/role_sidebar/add_page.html' %}
                    {% include 'inc/role_sidebar/settings_page.html' %}
                    {% include 'inc/role_sidebar/support.html' %}

                {% elif user.is_authenticated and request.user.role == '4' %}
                    {#                    {% include 'inc/role_sidebar/messeges_page.html' %}#}
                    {% include 'inc/role_sidebar/videos_page.html' %}
                    {% include 'inc/role_sidebar/results_page.html' %}
                    {% include 'inc/role_sidebar/payments_page.html' %}
                    {% include 'inc/role_sidebar/groups_page.html' %}
                    {% include 'inc/role_sidebar/history_view_video.html' %}
                    {% include 'inc/role_sidebar/signs_page.html' %}
                    {% include 'inc/role_sidebar/materials_page.html' %}
                    {% include 'inc/role_sidebar/settings_page.html' %}
                    {% include 'inc/role_sidebar/support.html' %}

                {% elif user.is_authenticated and request.user.role == '5' %}
                    {#                    {% include 'inc/role_sidebar/messeges_page.html' %}#}
                    {% include 'inc/role_sidebar/payments_page.html' %}
                    {% include 'inc/role_sidebar/videos_page.html' %}
                    {% include 'inc/role_sidebar/signs_page.html' %}
                    {% include 'inc/role_sidebar/materials_page.html' %}
                    {% include 'inc/role_sidebar/settings_page.html' %}
                    {% include 'inc/role_sidebar/support.html' %}

                {% endif %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
