{% extends 'base.html' %}
{% load quiz_tags %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">{{ group.category }}-{{ group.number }}-{{ group.year }} guruhi o'quvchilar ro'yhati</h3>
                </div>

                {% include 'inc/messages_part.html' %}


                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table style="font-size: 0.9rem" id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th style="width: 2%">№</th>
                                <th>O'quvchining ism familiyasi</th>
                                <th>Pasport</th>
                                <th>Javobga nisbatan o'zlashtirish</th>
                                <th>Umumiy o'zlashtirish</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for pupil in pupils %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><b>{{ pupil.name }}</b></td>
                                    <td>{{ pupil.pasport }}</td>
                                    {% pupil_result pupil.id as pupil_res %}
                                    <td title="Javoblar/To'g'ri javoblar:  {{ pupil_res.answer_count }}/{{ pupil_res.answer_true }}">
                                        <div class="progress">
                                            {% if pupil_res.answer_count > 0 and pupil_res.res > 0 %}
                                                <div class="progress-bar {% if pupil_res.res >= 85 and pupil_res.res <= 100 %}bg-success progress-bar-striped{% elif pupil_res.res >= 40 and pupil_res.res <= 84 %}bg-warning progress-bar-striped{% elif pupil_res.res < 40 %}bg-danger progress-bar-striped{% endif %}"
                                                     role="progressbar"
                                                     aria-valuenow="40" aria-valuemin="2"

                                                     aria-valuemax="6" style="width:{{ pupil_res.res }}%">
                                                    <b>{{ pupil_res.res }}%</b>
                                                </div>
                                            {% elif pupil_res.answer_count > 0 and pupil_res.res < 1 %}
                                                <div style="width: 100%; margin-left: 45%">0%</div>
                                            {% else %}
                                                <div style="margin-left: 10%">yechilmagan</div>
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td title="Savollar/To'g'ri javoblar:  {{ pupil_res.question_total_count }}/{{ pupil_res.answer_true }}">
                                        <div class="progress">

                                            {% if pupil_res.question_total_count > 0 and pupil_res.total_res > 0 %}
                                                <div class="progress-bar {% if pupil_res.total_res >= 85 and pupil_res.total_res <= 100 %}bg-success progress-bar-striped{% elif pupil_res.total_res >= 40 and pupil_res.total_res <= 84 %}bg-warning progress-bar-striped{% elif pupil_res.total_res < 40 %}bg-danger progress-bar-striped{% endif %}"
                                                     role="progressbar"
                                                     aria-valuenow="40" aria-valuemin="2"

                                                     aria-valuemax="6" style="width:{{ pupil_res.total_res }}%">
                                                    <b>{{ pupil_res.total_res }}%</b>
                                                </div>
                                            {% elif pupil_res.question_total_count > 0 and pupil_res.total_res < 1 %}
                                                <div style="width: 100%; margin-left: 45%">0%</div>
                                            {% else %}
                                                <div style="margin-left: 10%">yechilmagan</div>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
