{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Vajdeniya uchun to'lov</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Saytga oʻtish</a></li>
                        <li class="breadcrumb-item active">Vajdeniya uchun to'lov</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>To'lov summasi</label>
                                        <br>
                                        {{ form.sum }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>O'quvchi</label>
                                        <br>
                                        <select name="pupil">
                                            {% for pupil in pupils %}
                                                <option value="{{ pupil.id }}">{{ pupil.name }}</option>
                                            {% endfor %}
                                        </select><a href="{% url 'user_create' %}"><i class="fas fa-plus-square" style="color: #0a53be"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Date</label>
                                        <br>
                                        <input type="date" id="id_created_date" name="created_date" required="">
{#                                                                                {{ form.created_date }}#}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Saqlash</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </section>
{% endblock %}