<div class="col-lg-4 col-6">
    <!-- small box -->
    <div class="small-box bg-white">
        <div class="inner">
            <h6>{% if request.user.school %}
                {{ request.user.school.title }}
                {% else %}
                AVTOMAKTAB
            {% endif %}</h6>
            <h3>Avtomaktab sozlamalari</h3>
        </div>
        <div class="icon">
            <i class="fas fa-pen-square"></i>
        </div>
        <a href="{% url 'edit_school_url' %}"><button class="btn btn-secondary mt-3" style="width: 100%"><i class="fas fa-edit"></i></button></a>
    </div>
</div>