{% extends 'base.html' %}
{% load user_tags %}
{% load humanize %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Guruhlar ro'yhati</h3>
                </div>
                {% include 'inc/messages.html' %}

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example1" style="font-size: 0.9rem" class="table table-bordered table-hovered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th style="width: 2%">№</th>
                                <th>Guruh nomi</th>
                                <th>Guruh rahbari</th>

                                <th style="width: 15%">Umumiy</th>
                                <th style="width: 15%">To'lov</th>
                                <th style="width: 15%">Qarzdorlik</th>
                                <th style="width: 2%">Ko'rish</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for group in groups %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{% url 'user:bugalter_group_detail' group.id %}">
                                            <b>{{ group.category }}-{{ group.number }} {{ group.year }}</b>
                                        </a>
                                    </td>
                                    <td>{% if group.teacher %}{{ group.teacher }}{% else %}{% endif %}</td>
                                     {% get_group_pay group.id as pay %}
                                    <td>{{ pay.total_pay|intcomma }}</td>
                                    <td style="color: green">{{ pay.payment|intcomma }}</td>
                                    <td style="color: red">{{ pay.debit|intcomma }}</td>
                                    <td><a href="{% url 'user:bugalter_group_detail' group.id %}"><button class="btn btn-info"><i class="fas fa-eye"
                                    ></i></button></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tfoot>
                            <tr style="background-color: #f1f1f1">
                                <td></td>
                                <td><b>Jami:</b></td>
                                <td></td>
                                <td><b>{{ total_pay|intcomma }}</b></td>
                                <td  style="color: green"><b>{{ total_payments|intcomma }}</b></td>
                                <td  style="color: red"><b>{{ total_debit|intcomma }}</b></td>
                                {% if request.user.role == '5' %}
                                    <td>
                                    </td>
                                {% endif %}
                                <td></td>
                            </tr>
                            </tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

