{% extends 'base.html' %}
{% load humanize %}
{% load user_tags %}
{% load static %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card">
                <div class="card-header"> {% get_payments pupil.id group.id as result %}
                    <h3 style="font-weight: bold; text-align: center">{{ pupil.name }}ning to'lovlari tarixi</h3>
                    <h4 style="font-weight: bold; text-align: center">Kategoriya bo'yicha summa: <span
                            class="text-success">{{ group.price|intcomma }}</span> so'm</h4>
                </div>
                {% include 'inc/messages.html' %}

                <div class="card-body">
                    <div class="table-responsive">
                    <h5 class="text-center alert alert-default-secondary">Amalga oshirilgan to'lovlar</h5>
                        <table id="example1" style="font-size: 0.9rem" class="table table-bordered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th>№</th>
                                <th>To'lov summasi</th>
                                <th>To'lov sanasi</th>
                                {% if request.user.role == '5' or request.user.role == '2' %}
                                    <th>Izoh</th>
                                    <th>O'chirish</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>

                                    <td style="color: green">{{ payment.payment|intcomma }}</td>

                                    <td>{{ payment.pay_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                                    {% if request.user.role == '5' or request.user.role == '2' %}
                                        <td>{{ payment.comment }}</td>
                                        <td>
                                            <button class="btn btn-danger remove_pay"
                                                    data-pay="{{ payment.id }}"><i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr style="background-color: #f1f1f1">
                                <td></td>

                                <td><b>To'landi:</b> <span
                                        class="text-success">{{ result.payment|intcomma }} so'm</span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>Qarzdorlik: </b><span
                                            class="text-danger">{{ result.debit|intcomma }} so'm</span></td>
                                <td></td>
                                {% if request.user.role == '5' or request.user.role == '2' %}
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                {% endif %}
                            </tr>
                            </tfoot>
                        </table>
                        {% if request.user.role == '5' or request.user.role == '2' %}
                            {% if removed_pays %}
                                <h5 class="text-center alert alert-default-danger">O'chirilgan to'lovlar</h5>
                                <table id="example1" style="font-size: 0.9rem" class="table table-bordered table-hover">
                                    <thead>
                                    <tr style="background-color: #ecebeb">
                                        <th>№</th>
                                        <th>To'lov summasi</th>
                                        <th>To'lov sanasi</th>
                                        <th>Izoh</th>
                                        <th>O'chirish sababi</th>
                                        <th>O'chirilgan vaqti</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for removed_pay in removed_pays %}
                                        <tr>
                                            <td style="color: #8e908e">{{ forloop.counter }}</td>
                                            <td style="color: #8e908e">{{ removed_pay.payment|intcomma }}</td>
                                            <td style="color: #8e908e">{{ removed_pay.pay_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                                            <td style="color: #8e908e">{{ removed_pay.comment }}</td>
                                            <td style="color: #8e908e">{{ removed_pay.removed_reason }}</td>
                                            <td style="color: #8e908e">{{ removed_pay.removed_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block bottom %}
    <script src="{% static 'js/bootstrap-notify.min.js' %}"></script>
    <link data-require="sweet-alert@*" data-semver="0.4.2" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">

        var csrftoken = getCookie('csrftoken'),
            pupilId = '{{ pupil.id }}',
            groupId = '{{ pupil.group.id }}'

        $.ajaxSetup({
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken)
            }
        })
        $('.remove_pay').on('click', function () {
            Swal.fire({
                title: "To'lovni o'chirish!",
                text: "To'lovni nega o'chirmoqchisiz? Ushbu maydonga to'lovni o'chirish sababini kiriting!",
                input: 'text',
                inputPlaceholder: 'Masalan: Xatolik yuz berganligi tufayli',
                allowOutsideClick: false,
                customClass: {
                    input: 'custom-input-class',
                },
                showCancelButton: true
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'user:remove_pay' id=12345 %}".replace(/12345/, $(this).data('pay').toString()),
                        data: {
                            'removed_reason': result.value
                        },
                        success: function (res) {

                            if (res !== 'False') {
                                $.notifyDefaults({
                                    type: 'success',
                                    allow_dismiss: false,
                                    animate: {
                                        enter: 'animated fadeInRight',
                                        exit: 'animated fadeOutRight'
                                    },
                                    placement: {
                                        from: "top",
                                        align: "right"
                                    },
                                    z_index: 9999,

                                });
                                $.notify({
                                    icon: 'glyphicon glyphicon-envelope',
                                    message: `<svg width="2em" height="2em" class="svg-icon" viewBox="0 0 20 20">
\t\t\t\t\t\t\t<path d="M10.219,1.688c-4.471,0-8.094,3.623-8.094,8.094s3.623,8.094,8.094,8.094s8.094-3.623,8.094-8.094S14.689,1.688,10.219,1.688 M10.219,17.022c-3.994,0-7.242-3.247-7.242-7.241c0-3.994,3.248-7.242,7.242-7.242c3.994,0,7.241,3.248,7.241,7.242C17.46,13.775,14.213,17.022,10.219,17.022 M15.099,7.03c-0.167-0.167-0.438-0.167-0.604,0.002L9.062,12.48l-2.269-2.277c-0.166-0.167-0.437-0.167-0.603,0c-0.166,0.166-0.168,0.437-0.002,0.603l2.573,2.578c0.079,0.08,0.188,0.125,0.3,0.125s0.222-0.045,0.303-0.125l5.736-5.751C15.268,7.466,15.265,7.196,15.099,7.03"></path>
\t\t\t\t\t\t</svg> ${res} so'm muvaffaqiyatli o'chirildi!`
                                });
                                setTimeout(function () {
                                    window.location.href = "{% url 'user:pay_history' user_id=123 group_id=456 %}".replace(/123/, pupilId.toString()).replace(/456/, groupId.toString())
                                }, 1000)

                            }

                        },
                        error: function (err) {
                            console.log(err)
                        }
                    })
                }
            });
        })
    </script>

{% endblock bottom %}
