{% extends 'base.html' %}
{% load quiz_tags %}
{% load user_tags %}
{% load humanize %}

{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">{{ pupil }}'ning bonuslar tarixi</h3>
                </div>
                {% include 'inc/messages_part.html' %}
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="text-center"><h4>To'lagan summasi: <b
                                class="text-primary">{{ total_payments|intcomma }}</b> so'm, Umumiy bonuslari miqdori:
                            <b class="text-primary">{{ total_referrals|intcomma }}</b> so'm. Guruhning o'qish puli <b
                                    class="text-primary">{{ learn_payment|intcomma }}</b> so'm.
                            <br><br> Qarzdorlik: <b class="text-primary">{{ debt|intcomma }}</b> so'm</h4></div>

                        <table id="example1" style="font-size: 0.9rem"
                               class="table table-bordered table-hovered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th style="width: 2%">№</th>
                                <th>Summa</th>
                                <th>Sana</th>
                                <th>Izoh</th>
                                <th>O'qituvchi</th>
                                <th>O'quvchi</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for referral in referrals %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ referral.amount }}</td>
                                    <td>{{ referral.pubdate }}</td>
                                    <td>{{ referral.comment }}</td>
                                    <td>
                                        {% if referral.teacher != None %}
                                                {{ referral.teacher }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {%  if  referral.pupil != None %}
                                            {{ referral.pupil }}
                                        {% endif %}
                                    </td>

                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
