{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Guruhlar ro'yhati</h3>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-hovered">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Guruh nomi</th>
                            <th>Guruh rahbari</th>
                            <th>O'qish boshlanishi</th>
                            <th>O'qish yakunlanishi</th>
                            {% if request.user.role == '2' or request.user.role == '3' %}
                            <th>Tahrirlash</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>

                        {% for group in groups %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {% if request.user.role == '2' or request.user.role == '3' %}
                                    <a href="{% url 'user:group_detail' group.id %}">
                                        <b>{{ group.category }}-{{ group.number }} {{ group.year }}</b>
                                    </a>
                                    {% else %}
                                        <b>{{ group.category }}-{{ group.number }} {{ group.year }}</b>
                                    {% endif %}
                                </td>
                                <td>{{ group.teacher }}</td>
                                <td>{{ group.start }}</td>
                                <td>{{ group.stop }}</td>
                                {% if request.user.role == '2' or request.user.role == '3' %}
                                <td>
                                    &nbsp;
                                    <a href="{% url 'user:group_detail' group.id %}"><i class="fas fa-eye"
                                                                                       style="font-size: 150%;"></i></a>
                                    &nbsp;
                                    <a href="{% url 'user:group_update' group.id %}"><i class="fa fa-edit" style="font-size: 150%;"></i> </a>
                                    &nbsp;
                                    <a href="{% url 'user:group_delete' group.id %}"><i class="fa fa-trash"
                                                                                       style="font-size: 150%;"></i></a>
                                </td>
                            {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
