{% extends 'base.html' %}

{% block content %}
    <div class="row ml-5">
        <!-- left column -->
        <div class="col-md-6" style="margin-left: 25%; margin-bottom: 50px">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">O'quvchini tahrirlash</h3>
                </div>
                {% include 'inc/messages.html' %}
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" action="{% url 'user:edit_pupil' user.id %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form }}
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Saqlash</button>
                        <button type="reset" class="btn btn-danger">Tozalash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block bottom %}
    <script>
        $("#pasport").keypress(function (event) {
            var ew = event.which;
            if (ew == 32)
                return true;
            if (48 <= ew && ew <= 57)
                return true;
            if (65 <= ew && ew <= 90)
                return true;
            if (97 <= ew && ew <= 122)
                return true;
            alert("Faqat lotin harflari va raqamlar kiriting")

            return false;
        });

    </script>
{% endblock bottom %}