{% extends 'base.html' %}

{% block content %}
    <div class="row mt-5 ml-5">
        <!-- left column -->
        <div class="col-md-6" style="margin-left: 365px; margin-bottom: 50px">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Profilni tahrirlash</h3>
                </div>
                {% if messages or form.errors %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
                            <a class="close" href="#" data-dismiss="alert">×</a>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}



                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" action="{% url 'edit_profil_url' %}"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form }}
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Saqlash</button>
                        <button type="reset" class="btn btn-danger">Tozalash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}