{% extends 'base.html' %}
{% load static %}
{% load quiz_tags %}
{% block top %}
    <link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
{% endblock top %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Ko'rilgan videolar tarixi</h3>
                </div>
                {% include 'inc/messages.html' %}
                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <form class="form-group mb-3" method="POST" action="{% url 'user:history_view_video_all' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-3">
                                <label class="text-dark" for="date">Boshlanish</label>
                                <input type="date" id="date"
                                       style="border-radius: 4px; cursor: pointer; color:#495057;background-color:#fff;border-color:#bdbdbd;outline:0;box-shadow:0 0 0 .1rem rgba(238,238,238,0.25)"
                                       name="startdate"
                                       {% if startdate %}value="{{ startdate }}"{% endif %}>
                            </div>
                            <div class="col-md-3">
                                <label class="text-dark" for="date">Tugash</label>
                                <input type="date" id="date"
                                       style="border-radius: 4px; cursor: pointer; color:#495057;background-color:#fff;border-color:#bdbdbd;outline:0;box-shadow:0 0 0 .1rem rgba(238,238,238,0.25)"
                                       name="stopdate"
                                       {% if stopdate %}value="{{ stopdate }}"{% endif %}>
                            </div>



                            <div class="col-md-3">
                                <label class="text-dark" for="date">Guruh</label>
                                <select name="group"
                                        style="cursor: pointer; border-radius: 3px; height: 2rem; color:#495057;background-color:#fff;border-color:#7b7b7b;outline:0;box-shadow:0 0 0 .1rem rgba(165,165,165,0.25)">
                                    <option value="False">barcha guruhlar</option>
                                    {% for group in groups %}
                                        <option {% if guruh.id == group.id %}selected{% endif %}
                                                value="{{ group.id }}">{{ group.category }}-{{ group.number }}-{{ group.year }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-secondary"
                                        style="padding: 1.5% 10% 1.5% 10% !important;">
                                    <i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive"
                         style="border: 1px solid #dbdada; border-radius: 3px; padding: 2% 2% 2% 2%;">
                        <table id="example1" style="font-size: 0.9rem;" class="table table-bordered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th>№</th>
                                <th>O'quvchining ism familiyasi</th>
                                <th>Guruhi</th>
                                <th>Ko'rgan darsi</th>
                                <th>Ko'rilgan vaqti</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for view in views %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ view.user }}</td>
                                    <td>{{ view.user.group }}</td>
                                    <td><a href="{% url 'video:video_detail' view.video.id %}">{{ view.video }}</a></td>
                                    <td>{{ view.time|date:'SHORT_DATETIME_FORMAT' }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>


            </div>
        </div>
    </div>


{% endblock content %}

{% block bottom %}
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock bottom %}
