{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block content %}

    <div class="login-box" style="margin-left: 550px">
        <div class="login-logo">
            <a href="#"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card" style="margin-top: 100px">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Tizimga kirish</p>
                {% for message in messages %}

                    <div class="alert alert-danger">
                        <a class="close" href="#" data-dismiss="alert">×</a>

                        {{ message }}

                    </div>
                {% endfor %}
                <form class="login" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}

                    {#                            <div class="alert alert-error">#}
                    {#                                <strong>{{ error|escape }}</strong>#}
                    {#                            </div>#}
                    {#                       #}

                    <div class="input-group mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Loginni kiriting ...">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Parolni kiriting ...">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" name="checkbox" value="True" id="remember">
                                <label for="remember">
                                    Eslab qol
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button class="btn btn-primary" type="submit">{% trans "Kirish" %}</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>


                <p class="mb-1">
                    <a
                       href="{% url 'account_reset_password' %}">{% trans "Parolni unutdingizmi ?" %}</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
{% endblock content %}

