{% extends 'base.html' %}
{% load humanize %}
{% block content %}
    <div class="row" style="margin: auto">

        <!-- left column -->
        <div class="col-12" style="margin: auto">
            {% include 'inc/messages.html' %}
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">SMS Sozlamalar</h3>
                </div>

                <div class="card-body">

                    <div class="row justify-content-around">
                        <div class="col-6">
                            <!-- small box -->
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="small-box bg-gradient-navy">
                                    <div class="inner">
                                        <h3>{{ request.user.school.money|intcomma }} so'm</h3>

                                        <p>Hisob</p>
                                    </div>
                                    <div class="icon">
                                        <i class="fas fa-money-check"></i>
                                    </div>
                                    <button id="addAmountBtn" type="submit" style="width: 100%"
                                            class="small-box-footer btn"> Hisobni
                                        to'ldirish <i
                                                class="fas fa-arrow-circle-right"></i></button>

                                </div>
                            </form>

                        </div>

                        {#                        <div class="col-4">#}
                        {#                            <!-- small box -->#}
                        {#                            <div class="small-box bg-gradient-navy">#}
                        {#                                <div class="inner">#}
                        {#                                    <h3>{{ request.user.school.add_pupil_sms_count }} ta</h3>#}
                        {##}
                        {#                                    <p>Kiritish sms: 10 000 so'm</p>#}
                        {##}
                        {#                                </div>#}
                        {#                                <div class="icon">#}
                        {#                                    <i class="fas fa-users"></i>#}
                        {#                                </div>#}
                        {#                                <a href="#" class="small-box-footer btn">Kiritish sms olish <i#}
                        {#                                        class="fas fa-arrow-circle-right"></i></a>#}
                        {#                            </div>#}
                        {#                        </div>#}

                        <div class="col-6">
                            <!-- small box -->
                            <div class="small-box bg-gradient-navy">
                                <div class="inner">
                                    <h3>{{ request.user.school.sms_count }} ta</h3>

                                    <p>Sms: {{ SMS_PRICE }} so'm</p>
                                </div>
                                <div class="icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <a href="#" id="getSmsBtn" class="small-box-footer btn">Sms olish <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group list-group-flush">
                        {#                        <li class="list-group-item text-lg">O'quvchi qo'shishda sms jo'natish#}
                        {#                            <label class="switch float-right">#}
                        {#                                <input type="checkbox" {% if request.user.school.send_sms_add_pupil %}checked{% endif %} class="checkbox" id="checkbox_add_pupil"><span#}
                        {#                                    class="slider round"></span>#}
                        {#                            </label>#}
                        {#                        </li>#}

                        <li class="list-group-item text-lg">

                            <div class="card">
                                <div class="card-header bg-light">
                                    O'quvchi qo'shishda sms jo'natish
                                    <label class="switch float-right">
                                        <input type="checkbox" id="checkbox_add_pupil" class="checkbox"
                                               {% if request.user.school.send_sms_add_pupil %}checked{% endif %}><span
                                            class="slider round"></span>
                                    </label>
                                </div>
                                <div class="card-body text-sm" id="add_pupil_text"
                                     style="display: {% if request.user.school.send_sms_add_pupil %}block{% else %}none{% endif %}">
                                    <dl class="row mb-0">
                                        {#                                        <dt class="col-sm-4">Sms turi</dt>#}
                                        {#                                        <dd class="col-sm-8">Kiritish sms</dd>#}
                                        <dt class="col-sm-4">Belgilar soni</dt>
                                        <dd class="col-sm-8">210 tadan - 240 tagacha
                                        </dd>
                                        {#                                        <dd class="col-sm-8 offset-sm-4">Donec id elit non mi porta gravida at eget#}
                                        {#                                            metus.#}
                                        {#                                        </dd>#}
                                        <dt class="col-sm-4">Sarflanadigan smslar soni</dt>
                                        <dd class="col-sm-8">2 ta</dd>
                                        <dt class="col-sm-4">Sms matni</dt>
                                        <dd class="col-sm-8"><p class="mb-0">Hurmatli Yoqubov Sirojiddin Tojiddinovich!
                                            Siz B-1 guruhiga o'qishga qabul qilindingiz. Videodarslarni ko'rish va
                                            imtihon testlariga tayyorlanish uchun http://onless.uz/kirish manziliga
                                            kiring. Login: AB3870293 Parol: 3749044
                                            Qo'shimcha ma'lumot uchun: 919791999</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                        </li>

                        <li class="list-group-item text-lg">
                            <div class="card">
                                <div class="card-header bg-light">
                                    O'quvchini tahrirlashda sms jo'natish
                                    <label class="switch float-right">
                                        <input type="checkbox" class="checkbox"
                                               {% if request.user.school.send_sms_edit_pupil %}checked{% endif %}
                                               id="checkbox_edit_pupil"><span
                                            class="slider round"></span>
                                    </label>
                                </div>
                                <div class="card-body text-sm" id="edit_pupil_text"
                                     style="display: {% if request.user.school.send_sms_edit_pupil %}block{% else %}none{% endif %}">
                                    <dl class="row mb-0">
                                        {#                                        <dt class="col-sm-4">Sms turi</dt>#}
                                        {#                                        <dd class="col-sm-8">Oddiy sms</dd>#}
                                        <dt class="col-sm-4">Belgilar soni</dt>
                                        <dd class="col-sm-8">160 tadan - 200 tagacha
                                        </dd>
                                        {#                                        <dd class="col-sm-8 offset-sm-4">Donec id elit non mi porta gravida at eget#}
                                        {#                                            metus.#}
                                        {#                                        </dd>#}
                                        <dt class="col-sm-4">Sarflanadigan smslar soni</dt>
                                        <dd class="col-sm-8">2 ta</dd>
                                        <dt class="col-sm-4">Sms matni</dt>
                                        <dd class="col-sm-8"><p class="mb-0">Hurmatli Yoqubov Sirojiddin Tojiddinovich!
                                            Sizning
                                            ma'lumotlaringiz tahrirlandi. http://onless.uz/kirish manziliga kiring.
                                            Login: AB3870293 Parol: 3749044 Qo'shimcha ma'lumot uchun: 919791999</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>


                        <li class="list-group-item text-lg">
                            <div class="card">
                                <div class="card-header bg-light">
                                    Xodim qo'shishda sms jo'natish
                                    <label class="switch float-right">
                                        <input type="checkbox" class="checkbox"
                                               {% if request.user.school.send_sms_add_worker %}checked{% endif %}
                                               id="checkbox_add_worker"><span
                                            class="slider round"></span>
                                    </label>
                                </div>
                                <div class="card-body text-sm" id="add_worker_text"
                                     style="display: {% if request.user.school.send_sms_add_worker %}block{% else %}none{% endif %}">
                                    <dl class="row mb-0">
                                        {#                                        <dt class="col-sm-4">Sms turi</dt>#}
                                        {#                                        <dd class="col-sm-8">Oddiy sms</dd>#}
                                        <dt class="col-sm-4">Belgilar soni</dt>
                                        <dd class="col-sm-8">205 tadan - 240 tagacha</dd>
                                        <dt class="col-sm-4">Sarflanadigan smslar soni</dt>
                                        <dd class="col-sm-8">2 ta</dd>
                                        <dt class="col-sm-4">Sms matni</dt>
                                        <dd class="col-sm-8"><p class="mb-0">Hurmatli Yoqubov Sirojiddin Tojiddinovich!
                                            Siz "BUXORO RAVON AVTOMAKTAB" MCHJ da o'qituvchi lavozimida
                                            ro'yhatga olindingiz. http://onless.uz/kirish manziliga kiring. Login:
                                            AB3870293 Parol: 8846510 Qo'shimcha ma'lumot uchun: 919791999</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item text-lg">
                            <div class="card">
                                <div class="card-header bg-light">
                                    Xodimni tahrirlashda sms jo'natish
                                    <label class="switch float-right">
                                        <input type="checkbox" class="checkbox"
                                               {% if request.user.school.send_sms_edit_worker %}checked{% endif %}
                                               id="checkbox_edit_worker"><span
                                            class="slider round"></span>
                                    </label>
                                </div>
                                <div class="card-body text-sm" id="edit_worker_text"
                                     style="display: {% if request.user.school.send_sms_edit_worker %}block{% else %}none{% endif %}">
                                    <dl class="row mb-0">
                                        {#                                        <dt class="col-sm-4">Sms turi</dt>#}
                                        {#                                        <dd class="col-sm-8">Oddiy sms</dd>#}
                                        <dt class="col-sm-4">Belgilar soni</dt>
                                        <dd class="col-sm-8">160 tadan - 200 tagacha</dd>
                                        <dt class="col-sm-4">Sarflanadigan smslar soni</dt>
                                        <dd class="col-sm-8">2 ta</dd>
                                        <dt class="col-sm-4">Sms matni</dt>
                                        <dd class="col-sm-8"><p class="mb-0">Hurmatli Yoqubov Sirojiddin Tojiddinovich!
                                            Sizning
                                            ma'lumotlaringiz tahrirlandi. http://onless.uz/kirish manziliga kiring.
                                            Login: AB3870293 Parol: 3749044 Qo'shimcha ma'lumot uchun: 919791999</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>


                        <li class="list-group-item text-lg">
                            <div class="card">
                                <div class="card-header bg-light">
                                    Davomat belgilanganda sms jo'natish
                                    <label class="switch float-right">
                                        <input type="checkbox" class="checkbox"
                                               {% if request.user.school.send_sms_attendance %}checked{% endif %}
                                               id="checkbox_attendance_pupil"><span
                                            class="slider round"></span>
                                    </label>
                                </div>
                                <div class="card-body text-sm" id="attendance_text"
                                     style="display: {% if request.user.school.send_sms_attendance %}block{% else %}none{% endif %}">
                                    <dl class="row mb-0">
                                        {#                                        <dt class="col-sm-4">Sms turi</dt>#}
                                        {#                                        <dd class="col-sm-8">Oddiy sms</dd>#}
                                        <dt class="col-sm-4">Belgilar soni</dt>
                                        <dd class="col-sm-8">160 tadan - 190 tagacha</dd>
                                        <dt class="col-sm-4">Sarflanadigan smslar soni</dt>
                                        <dd class="col-sm-8">2 ta</dd>
                                        <dt class="col-sm-4">Sms matni</dt>
                                        <dd class="col-sm-8"><p class="mb-0">Hurmatli Yoqubov Sirojiddin Tojiddinovich!
                                            Bugun YHQ
                                            fanidan darsga qatnashmadingiz. Bu hol qayta takrorlansa guruh ro'yhatidan
                                            chetlashtirilasiz! Qo'shimcha ma'lumot uchun: 919791999</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>


                        <li class="list-group-item text-lg">
                            <div class="card">
                                <div class="card-header bg-light">
                                    Baholanganda sms jo'natish
                                    <label class="switch float-right">
                                        <input type="checkbox" class="checkbox"
                                               {% if request.user.school.send_sms_rating %}checked{% endif %}
                                               id="checkbox_rating_pupil"><span
                                            class="slider round"></span>
                                    </label>
                                </div>
                                <div class="card-body text-sm" id="rating_text"
                                     style="display: {% if request.user.school.send_sms_rating %}block{% else %}none{% endif %}">
                                    <dl class="row mb-0">
                                        {#                                        <dt class="col-sm-4">Sms turi</dt>#}
                                        {#                                        <dd class="col-sm-8">Oddiy sms</dd>#}
                                        <dt class="col-sm-4">Belgilar soni</dt>
                                        <dd class="col-sm-8">90 tadan - 120 tagacha</dd>
                                        <dt class="col-sm-4">Sarflanadigan smslar soni</dt>
                                        <dd class="col-sm-8">1 ta</dd>
                                        <dt class="col-sm-4">Sms matni</dt>
                                        <dd class="col-sm-8"><p class="mb-0">Hurmatli Yoqubov Sirojiddin Tojiddinovich!
                                            Bugun YHQ fanidan 5 bahosini oldingiz! Qo'shimcha ma'lumot uchun:
                                            919791999</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>


                        <li class="list-group-item text-lg">
                            <div class="card">
                                <div class="card-header bg-light">
                                    To'lov qilinganda sms jo'natish
                                    <label class="switch float-right">
                                        <input type="checkbox" class="checkbox"
                                               {% if request.user.school.send_sms_payment %}checked{% endif %}
                                               id="checkbox_payment_pupil"><span
                                            class="slider round"></span>
                                    </label>
                                </div>
                                <div class="card-body text-sm" id="payment_text"
                                     style="display: {% if request.user.school.send_sms_payment %}block{% else %}none{% endif %}">
                                    <dl class="row mb-0">
                                        {#                                        <dt class="col-sm-4">Sms turi</dt>#}
                                        {#                                        <dd class="col-sm-8">Oddiy sms</dd>#}
                                        <dt class="col-sm-4">Belgilar soni</dt>
                                        <dd class="col-sm-8">160 tadan - 190 tagacha</dd>
                                        <dt class="col-sm-4">Sarflanadigan smslar soni</dt>
                                        <dd class="col-sm-8">2 ta</dd>
                                        <dt class="col-sm-4">Sms matni</dt>
                                        <dd class="col-sm-8"><p class="mb-0">Hurmatli Yoqubov Sirojiddin Tojiddinovich!
                                            Avtomaktabga 200 000 so'm to'lov qildingiz! Jami to'lovingiz 1 700 000
                                            so'm. Toifa bo'yicha 300 000 so'm qarzdorligingiz qoldi! Savollar bo'lsa:
                                            919791999</p>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </li>

                    </ul>


                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block bottom %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        $(document).ready(function () {
            var addPupil = '{{ request.user.school.send_sms_add_pupil }}',
                editPupil = '{{ request.user.school.send_sms_edit_pupil  }}',
                attendancePupil = '{{ request.user.school.send_sms_attendance  }}',
                paymentPupil = '{{ request.user.school.send_sms_payment  }}',
                ratingPupil = '{{ request.user.school.send_sms_rating  }}',
                addWorker = '{{ request.user.school.send_add_worker }}',
                editWorker = '{{ request.user.school.send_sms_edit_worker }}'

            if (addPupil === 'True') {
                addPupil = true
            } else {
                addPupil = false
            }

            if (editPupil === 'True') {
                editPupil = true
            } else {
                editPupil = false
            }

            if (attendancePupil === 'True') {
                attendancePupil = true
            } else {
                attendancePupil = false
            }

            if (paymentPupil === 'True') {
                paymentPupil = true
            } else {
                paymentPupil = false
            }

            if (ratingPupil === 'True') {
                ratingPupil = true
            } else {
                ratingPupil = false
            }

            if (addWorker === 'True') {
                addWorker = true
            } else {
                addWorker = false
            }

            if (editWorker === 'True') {
                editWorker = true
            } else {
                editWorker = false
            }


            $('#checkbox_add_pupil').on('change', function () {
                if ($(this).prop('checked')) {
                    addPupil = true
                    $('#add_pupil_text').show()
                } else {
                    addPupil = false
                    $('#add_pupil_text').hide()
                }
            })

            $('#checkbox_edit_pupil').on('change', function () {
                if ($(this).prop('checked')) {
                    editPupil = true
                    $('#edit_pupil_text').show()
                } else {
                    editPupil = false
                    $('#edit_pupil_text').hide()
                }
            })
            $('#checkbox_attendance_pupil').on('change', function () {
                if ($(this).prop('checked')) {
                    attendancePupil = true
                    $('#attendance_text').show()
                } else {
                    attendancePupil = false
                    $('#attendance_text').hide()
                }
            })
            $('#checkbox_payment_pupil').on('change', function () {
                if ($(this).prop('checked')) {
                    paymentPupil = true
                    $('#payment_text').show()
                } else {
                    paymentPupil = false
                    $('#payment_text').hide()
                }
            })

            $('#checkbox_rating_pupil').on('change', function () {
                if ($(this).prop('checked')) {
                    ratingPupil = true
                    $('#rating_text').show()
                } else {
                    ratingPupil = false
                    $('#rating_text').hide()
                }
            })

            $('#checkbox_add_worker').on('change', function () {
                if ($(this).prop('checked')) {
                    addWorker = true
                    $('#add_worker_text').show()
                } else {
                    addWorker = false
                    $('#add_worker_text').hide()
                }
            })
            $('#checkbox_edit_worker').on('change', function () {
                if ($(this).prop('checked')) {
                    editWorker = true
                    $('#edit_worker_text').show()
                } else {
                    editWorker = false
                    $('#edit_worker_text').hide()
                }
            })

            var csrftoken = getCookie('csrftoken');

            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken)
                }
            })
            $('.checkbox').on('change', function () {
                $.ajax({
                    type: "POST",
                    url: '{% url "user:modify_checkbox_send_sms" %}',
                    data: {
                        'addPupil': addPupil,
                        'editPupil': editPupil,
                        'attendancePupil': attendancePupil,
                        'paymentPupil': paymentPupil,
                        'ratingPupil': ratingPupil,
                        'addWorker': addWorker,
                        'editWorker': editWorker
                    },

                    success: function (response) {
                        if (response === 'True') {
                            $.notifyDefaults({
                                type: 'success',
                                allow_dismiss: false,
                                animate: {
                                    enter: 'animated fadeInRight',
                                    exit: 'animated fadeOutRight'
                                },
                                placement: {
                                    from: "top",
                                    align: "right"
                                },
                                z_index: 9999,
                            })
                            $.notify({
                                icon: 'glyphicon glyphicon-star',
                                message: '<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-exclamation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">\n' +
                                    '  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>\n' +
                                    '  <path fill-rule="evenodd" d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>\n' +
                                    '</svg> Sms xizmati muvvafaqiyatli tahrirlandi!'
                            })
                        }
                    },
                    error: function (response) {
                        console.log(response)
                    }
                })

            })

            $('#addAmountBtn').on('click', function (e) {
                e.preventDefault()
                const {value: formValues} = Swal.fire({
                    allowOutsideClick: false,
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    },
                    confirmButtonText: 'Keyingi',
                    cancelButtonText: 'Bekor qilish',
                    reverseButtons: true,
                    title: 'To\'lov summasini kiriting!',
                    html:
                        '<label style="float: left; margin-bottom: 0" class="label_required" for="amount">Summa</label>' +
                        '<input style="margin-top: 4px" id="amount" class="form-control" type="number" placeholder="Masalan: 100000">',

                    focusConfirm: false,
                    preConfirm: (value) => {
                        if (value) {
                            if ($('#amount').val() == '') {
                                Swal.showValidationMessage(
                                    'Summa kiritilmagan!'
                                )
                            } else if ($('#amount').val() < 5000) {
                                Swal.showValidationMessage(
                                    'Summa kamida 5000 so\'m bo\'lishi kerak!'
                                )
                            } else {
                                swal.resetValidationMessage();
                                return [
                                    $('#amount').val()
                                ]
                            }
                        }

                        $('#amount').on('keyup', function () {
                            if ($('#amount').val() == '') {
                                Swal.showValidationMessage(
                                    'Summa kiritilmagan!'
                                )
                            } else if ($('#amount').val() < 5000) {
                                Swal.showValidationMessage(
                                    'Summa kamida 5000 so\'m bo\'lishi kerak!'
                                )
                            } else {
                                swal.resetValidationMessage();

                            }
                        })
                    },

                }).then(function (confirm) {

                    if (confirm.isConfirmed) {
                        var amount = confirm.value[0]

                        window.location.href = "{% url 'click:create_order_url' %}?amount=12345".replace(/12345/, amount.toString());

                    } else {
                        window.location.href = "{% url 'user:sms_settings' %}"
                    }
                });
            })

            {% if request.GET.payment_status == '2' %}

                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    background: '#8ff8ac',
                    timer: 5000,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    },
                    // willClose: (close) => {
                    //    window.location.href = success_url
                    // }
                })
                Toast.fire({
                    icon: 'success',
                    title: `To'lov muvaffaqiyatli amalga oshirildi!`
                })
                setTimeout(function () {
                    window.location.href = "{% url 'user:sms_settings' %}"
                }, 5000)

            {% endif %}

            var csrftoken = getCookie('csrftoken');

            $.ajaxSetup({
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', csrftoken)
                }
            })

            $('#getSmsBtn').on('click', function (e) {
                e.preventDefault()
                const {value: addSmsValues} = Swal.fire({
                    allowOutsideClick: false,
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    showClass: {
                        popup: 'animate__animated animate__fadeInDown'
                    },
                    hideClass: {
                        popup: 'animate__animated animate__fadeOutUp'
                    },
                    confirmButtonText: 'Sotib olish',
                    cancelButtonText: 'Bekor qilish',
                    reverseButtons: true,
                    title: '<h2 style="color: #001f3f" class="not_copy">Hisob: <span id="money"></span>&nbsp so\'m</h2>',
                    html:

                        '<hr><i style="font-size: 2em;color: grey" id="subSms" class="fas fa-minus-circle not_copy"></i>&nbsp&nbsp&nbsp&nbsp&nbsp<span style="font-size: 2em;" class="not_copy" id="smsCount"> 0 </span>&nbsp&nbsp&nbsp&nbsp&nbsp<i id="addSms" style="font-size: 2em; color: #389ff8" class="fas fa-plus-circle not_copy"></i><hr>',


                    focusConfirm: false,
                }).then(function (confirm) {

                    if (confirm.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            url: "{% url 'user:buy_sms' %}",
                            data: {
                                'count': $('#smsCount').html()
                            },
                            success: function (res) {
                                if (res == 'True'){
                                    success_toast()
                                    setTimeout(function () {
                                        window.location.href = "{% url 'user:sms_settings' %}"
                                    },1000)
                                }else{
                                    errorFunction()
                                }
                            }, error: function (err) {
                                console.log(err.status)
                                errorFunction()
                            }
                        })
                    } else {
                        window.location.href = "{% url 'user:sms_settings' %}"
                    }
                });

                var money = '{{ request.user.school.money|intcomma }}'.replace(/\s+/g, '')
                var smsPrice = parseInt('{{ SMS_PRICE }}')
                var smsAddStep = parseInt('{{ SMS_ADD_STEP }}')

                if (parseInt(money) == 0){
                     $('#addSms').css('color', 'grey')
                }

                var smsCount = 0
                $('#money').html(money)


                $('#addSms').on('click', function () {

                    if (smsCount >= 0) {
                        smsCount += smsAddStep

                        if ((smsAddStep * smsPrice) <= money) {
                            //pul yetarli
                            $('#smsCount').html(smsCount)
                            money -= (smsAddStep * smsPrice)
                            $('#money').html(money)

                            $('#subSms').css('color', '#389ff8')
                        } else {
                            //pul yetarli emas
                            smsCount -= smsAddStep
                            $('#addSms').css('color', 'grey')
                        }


                    }

                     if ((smsAddStep * smsPrice) <= money) {

                            $('#addSms').css('color', '#389ff8')
                    } else {

                         $('#addSms').css('color', 'grey')
                    }

                })
                $('#subSms').on('click', function () {

                    if (smsCount > 0) {
                        money += (smsAddStep * smsPrice)
                        $('#money').html(money)
                        smsCount -= smsAddStep
                        $('#smsCount').html(smsCount)

                        $('#addSms').css('color', '#389ff8')
                    } else {
                        $('#subSms').css('color', 'grey')
                    }

                    if (smsCount > 0) {
                        $('#subSms').css('color', '#389ff8')
                    } else {
                        $('#subSms').css('color', 'grey')
                    }
                })


            })
        });
    </script>

{% endblock bottom %}
