{% extends 'base.html' %}
{% load quiz_tags %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">{{ group.category }}-{{ group.number }} {{ group.year }} o'quvchilar
                        ro'yhati</h3>
                </div>

                {% include 'inc/messages.html' %}

                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table style="font-size: 0.9rem" id="example1"
                               class="table table-bordered table-hovered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th style="width: 2%">№</th>
                                <th>O'quvchining ism familiyasi</th>
                                <th>Sana</th>
                                <th>Davomat</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for pupil in pupils %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><b>{{ pupil.name }}</b>
                                    </td>
                                    <td>{% now "SHORT_DATE_FORMAT" %}</td>
                                    <td>Darsga kelgan</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function add_pupil() {
            alert("Hozir sizga Excellda namuna taqdim etiladi. Ushbu namuna orqali o'quvchilarni qo'shishingiz mumkin. Ushbu namunaga ma'lumotlarni to'g'ri kiritishga e'tibor bering")
            document.getElementById('button_add_pupil').style.display = 'none';
            document.getElementById('export_excel_form').style.display = 'block';
            document.getElementById('export_pdf_form').style.display = 'none';

        }

    </script>
    <link data-require="sweet-alert@*" data-semver="0.4.2" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {

            function delete_pupil(group_id, pupil_id, pupil_name) {
                var pupilId = pupil_id;
                var pupilName = pupil_name;

                swal({
                    title: "O'quvchini o'chirmoqchimisiz ?",
                    text: pupilName + "ni o'chirmoqchimisiz ?",
                    icon: "warning",
                    closeOnClickOutside: false,
                    buttons: [
                        'Yoq, Bekor qilish!',
                        'Ha, Roziman!'
                    ],
                    dangerMode: true,

                }).then(function (isConfirm) {
                    if (isConfirm) {
                        swal({
                            title: "Muvaffaqiyatli o'chirildi !",
                            text: pupilName + " muvaffaqiyatli o'chirildi !",
                            closeOnClickOutside: false,
                            icon: 'success'
                        }).then(function () {
                            $.ajax({
                                type: 'GET',
                                url: '/user/pupil-delete/' + pupilId,
                            });
                            {#window.location.href = "{% url 'application:application_pdf' id=12345 %}".replace(/12345/, $('#application_id').html().toString());#}
                            window.location.href = "{% url 'user:group_detail' id=12345 %}".replace(/12345/, group_id.toString());
                        });
                    } else {
                        swal("Bekor qilindi", pupilName + " ro'yhatda turibti !", "error");
                    }
                });

            }

            $('.offline_checkbox').on('change', function () {
                var checkbox = false,
                    pupilId = $(this).attr("data-id")
                if ($(this).is(':checked')) {
                    checkbox = true
                } else {
                    checkbox = false
                }

                $.ajax({
                    type: 'GET',
                    url: '{% url 'user:get_learning_type' %}',
                    data: {
                        'checkbox': checkbox,
                        'pupil': pupilId
                    },
                    success: function (response) {
                        console.log(response)
                    },
                    error: function (response) {
                        console.log(response)
                    }
                })

            })

        });


    </script>
{% endblock content %}
