{% extends 'base.html' %}
{% load quiz_tags %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">{{ group.category }}-{{ group.number }} {{ group.year }} o'quvchilar
                        ro'yhati</h3>
                </div>

                {% include 'inc/messages.html' %}

                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table style="font-size: 0.9rem" id="example1"
                               class="table table-bordered table-hovered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th style="width: 2%">№</th>
                                <th>O'quvchining ism familiyasi</th>
                                {#                                <th>Tug'ilgan yili</th>#}
                                <th>Davomatni belgilash</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for pupil in pupils %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><b>{{ pupil.name }}</b>
                                    </td>
                                    {#                                    <td>{{ pupil.birthday|date:'SHORT_DATE_FORMAT' }}</td>#}
                                    <td>
                                        <button data-id="{{ pupil.id }}" class="btn btn-danger not_visited">Kelmagan</button>
                                        <button data-id="{{ pupil.id }}" style="display: none" class="btn btn-success visited">Kelgan</button>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link data-require="sweet-alert@*" data-semver="0.4.2" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(document).ready(function () {

            {#$('.not_visited').on('click', function () {#}
            {#    var pupilId = $(this).attr("data-id")#}
            {##}
            {#    $(this).hide()#}
            {##}
            {#    #}
            {#    console.log($('.visited'))#}


           // })

        });


    </script>
{% endblock content %}
