{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Amaliy mashg'ulot</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        <li class="breadcrumb-item active">Amaliy mashg'ulot</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">

                        <form method="post" enctype="multipart/form-data">
                            {#                            {{ form.add_error }}#}
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Instruktor</label>
                                        <br>
                                        <select name="instructor" >
                                            {% for teacher in teachers %}
                                                <option value="{{ teacher.id }}">{{ teacher.username }}</option>
                                            {% endfor %}
                                        </select>                                        <a href="{% url 'user_create' %}"><i class="fas fa-plus-square" style="color: #0a53be"></i></a>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>O'quvchi</label>
                                        <br>
                                        <select name="pupil">
                                            {% for pupil in pupils %}
                                                <option value="{{ pupil.id }}">{{ pupil.username }}</option>
                                            {% endfor %}
                                        </select><a href="{% url 'user_create' %}"><i class="fas fa-plus-square" style="color: #0a53be"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Amaliy mashg'ulotga yozilgan vaqti</label>
                                        <br>
                                        <input type="date" id="id_training_time" name="training_time" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Amaliy mashg'ulot holati</label>
                                        <br>
                                        {{ form.status }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Bekor qilinganligi</label>
                                        <br>
                                        {{ form.cancel }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Amaliy mashg'ulotni bekor qilish sababi</label>
                                        <br>
                                        {{ form.reason_for_cancel }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Kim tomonidan bekor qilinganligi</label>
                                        <br>
                                        {{ form.by_whom }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Sherik bilan</label>
                                        <br>
                                        {{ form.is_partnership }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>To'lov to'langanligi</label>
                                        <br>
                                        {{ form.is_payment }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>To'lov avvaldan</label>
                                        <br>
                                        {{ form.is_prepaid }}
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>To'lov bajarilganidan so'ng</label>
                                        <br>
                                        {{ form.is_postpaid }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Bonus</label>
                                        <br>
                                        {{ form.is_bonus }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Qanday turdagi bonus</label>
                                        <br>
                                        {#                                        {{ form.is_bonus_comment }}#}
                                        <textarea class="form-control" id="id_is_bonus_comment" name="is_bonus_comment"
                                                  rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Bajarildi</label>
                                        <br>
                                        {{ form.done }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label>Vaqit</label>
                                            <br>
                                            {#                                            {{ form.created_date }}#}
                                            <input type="date" id="id_created_date" name="created_date" required="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Saqlash</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}