{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>To'lov</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Saytga oʻtish</a></li>
                        <li class="breadcrumb-item active">To'lov</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Payment</label>
                                        <br>
                                        {{ form.payment }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>To'lov vaqti</label>
                                        <br>
                                        <input type="date" id="id_pay_date" name="pay_date" required="">
                                        {#                                        {{ form.pay_date }}#}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Izoh</label>
                                        <br>
                                        {{ form.comment }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Removed_date</label>
                                        <br>
                                        <input type="date" id="id_removed_date" name="removed_date" required="">
                                        {#                                        {{ form.removed_date }}#}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>O'chirish sababi</label>
                                        <br>
                                        {{ form.removed_reason }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Pupil</label>
                                        <br>
                                        {#                                        {{ form.pupil }}#}
                                        <select name="pupil">
                                            {% for i in pupils %}
                                                <option value="{{ i.id }}">{{ i.username }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Is_active</label>
                                        <br>
                                        {{ form.is_active }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Saqlash</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}