{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin: auto">
        <!-- left column -->
        <div class="col-md-6 col-sm-12" style="margin: auto">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Mavzu qo'shish</h3>
                </div>
                {% include 'inc/messages.html' %}
                <!-- /.card-header -->
                <!-- form start -->

                <form role="form" method="POST" action="{% url 'sign:add_schedule' %}">
                    {% csrf_token %}
                    <div class="card-body">
                        {{ form }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Saqlash</button>
                        <button type="reset" class="btn btn-danger">Tozalash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}