{% extends 'base.html' %}
{% load static %}
{% load sign_tags %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Materiallar" "sign:materials" %}
{% endblock %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Qo'shimcha materiallar ro'yhati</h3>
                </div>
                {% include 'inc/messages_part.html' %}

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example1" style="font-size: 0.9rem" class="table table-bordered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th style="width: 3%">№</th>
                                <th>Manba nomi</th>
                                <th>Avtomaktab nomi</th>
                                <th style="width: 15%">Muallif</th>
                                <th style="width: 13%">Qo'shilgan vaqti</th>

                                <th style="width: 7%">Hajmi</th>

                                <th style="width: 5%">Yuklash/O'chirish</th>

                            </tr>
                            </thead>
                            <tbody>

                            {% for material in materials %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        {% get_file_url material.id as url %}
                                        <a id="{{ material.title }}" href="{{ url }}" download="on" target="_blank">{{ material.title }}</a>
                                    </td>
                                    <td>{% if material.author %}{{ material.author.school.title }}{% endif %}</td>
                                    <td>{% if material.author %}{{ material.author }}{% endif %}</td>
                                    <td>{{ material.pub_date|date:'SHORT_DATETIME_FORMAT' }}</td>

                                    <td>{{ material.file.size|filesizeformat }}</td>
                                    {% get_file_url material.id as url %}
                                    <td>&nbsp;
                                        <a target="_blank" download="on" href="{{ url }}"><button class="btn btn-info"><i
                                                class="fas fa-download"></i></button></a>
                                        {% if material.author == request.user %}
                                            <a href="#"
                                               onclick="delete_material({{ material.id }},`{{ material.title }}`)"><button class="btn btn-danger"><i
                                                    class="fas fa-trash"></i></button></a>
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endfor %}
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    <p class="h6 text-red">Eslatib o'tamiz! Ushbu materiallar uchun <a href="https://onless.uz/sign/materials/">onless.uz</a> ma'muriyati javobgar emas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link data-require="sweet-alert@*" data-semver="0.4.2" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>

        function delete_material(material_id, material_name) {
            var materialId = material_id;
            var materialName = material_name

            swal({
                title: "Materialni o'chirmoqchimisiz ?",
                text: materialName + "ni o'chirmoqchimisiz ?",
                icon: "warning",
                closeOnClickOutside: false,
                buttons: [
                    'Yoq, Bekor qilish!',
                    'Ha, Roziman!'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {
                if (isConfirm) {
                    swal({
                        title: "Muvaffaqiyatli o'chirildi !",
                        text: materialName + " muvaffaqiyatli o'chirildi !",
                        icon: 'success'
                    }).then(function () {
                        $.ajax({
                            type: 'GET',
                            url: '/sign/delete-material/' + materialId,
                        });
                        {#window.location.href = '{% url "sign:materials" %}';#}
                        location.reload();
                    });
                } else {
                    swal("Bekor qilindi", materialName + " ro'yhatda turibti !", "error");
                }
            });
        }

    </script>


{% endblock content %}

{% block bottom %}
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
    <script src="{% static "plugins/datatables-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,

    });
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock bottom %}
