{% extends 'base.html' %}

{% block content %}

    {% for sign in signs %}
        <div class="row">
            <div class="col-12"><h2 class="text-center">{{ sign.title }}</h2></div>
            <div class="col-12">
                <div class="row" style="">
                    <div class="col-2 text-center">
                        <img src="{{ sign.photo.url }}" alt="" width="100px">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}