{% extends 'base.html' %}
{% load quiz_tags %}
{% block content %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Fanlar ro'yhati</h3>
                </div>

                {% include 'inc/messages.html' %}

                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table style="font-size: 0.9rem" id="example1"
                               class="table table-bordered table-hovered table-hover">
                            <thead>
                            <tr style="background-color: #ecebeb">
                                <th style="width: 2%">№</th>
                                <th>Fan nomi</th>
                                <th>Toifasi</th>
                                <th>Qo'shilgan vaqti</th>
                                {% if request.user.role == '2' or request.user.role == '3' %}
                                <th>Tahrirlash</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for subject in subjects %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td><b>{{ subject.title }}</b>
                                    </td>
                                    <td>{{ subject.category }}</td>
                                    <td>{{ subject.created_date|date:'SHORT_DATETIME_FORMAT' }}</td>
                                    {% if request.user.role == '2' or request.user.role == '3' %}
                                        <td>
                                            &nbsp;&nbsp;<a href="{% url 'sign:update_subject' subject.id %}"><i
                                                class="fa fa-edit"
                                        ></i></a>
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    {% endif %}
                            {% endfor %}
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
