{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin: auto">
        <!-- left column -->
        <div class="col-md-6 col-sm-12" style="margin: auto">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Mavzuni tahrirlash</h3>
                </div>
                {% include 'inc/messages.html' %}
                <!-- /.card-header -->
                <!-- form start -->

                <form role="form" id="schedule_form" method="POST"
                      action="{% url 'sign:update_schedule' schedule.id %}">
                    {% csrf_token %}
                    <div class="card-body">
                        <label class="label_required" style="margin-bottom: 0" for="exampleInputname">Toifa</label>
                        <input type="text" class="form-control" readonly="readonly"
                               value="{{ schedule.subject.category }}"/>

                        <label for="subject" class="label_required" style="margin-bottom: 0; margin-top: 2%">Fan
                            nomi</label>
                        <input type="text" class="form-control" readonly="readonly" value="{{ schedule.subject }}"/>


                        <label for="title" class="label_required" style="margin-bottom: 0; margin-top: 2%">Mavzu
                            nomi</label>
                        <input type="text" id="title" value="{{ schedule.title }}" class="form-control"
                               placeholder="Masalan: Ogohlantiruvchi belgilar" name="title">
                        <label for="sort" class="label_required"
                               style="margin-bottom: 0; margin-top: 2%">Tartibi</label>
                        <input type="number" id="sort" class="form-control" value="{{ schedule.sort }}"
                               placeholder="Masalan: 1" name="sort">
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-success">Saqlash</button>
                        <button type="reset" class="btn btn-danger">Tozalash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
{% block bottom %}
    <script type="text/javascript">

        $('#title').on('keypress', function () {
            if ($('#title').val() == '') {
                $('#title').css('border-color', 'red')
            } else {
                $('#title').css('border-color', 'green')
            }
        })

        $('#sort').on('keypress', function () {
            if ($('#sort').val() < 0) {
                $('#sort').css('border-color', 'red')
            } else {
                $('#sort').css('border-color', 'green')
            }
        })

        $('#schedule_form').submit(function (e) {
            if ($('#title').val() == '') {
                $('#title').css('border-color', 'red')
                return false;
            } else if ($('#sort').val() == '') {
                $('#sort').css('border-color', 'red')
                return false;
            } else {
                return true;
            }

        })

    </script>
{% endblock bottom %}