{% extends 'base.html' %}
{% load static %}
{% block content %}



    <h1 class="text-center">{{ video.title }}</h1>
    <video style="margin: 0 auto"
           id="my-video"
           class="video-js "
           controls
           preload="auto"
           width="1080"
           height="640"
           poster="{{ video.photo.url }}"
           data-setup="{}"
    >
        <source src="{{ video.video.url }}"
                type="video/mp4"/>
        <source src="{{ video.video }}"/>
        <p class="vjs-no-js">
            Kechirasiz, sizning brauzeringiz eski versiyada bo'lganligi sababli, ushbu videoni qo'llay olmaydi. Iltimos
            brauzeringizni yangilang!
            <a href="https://www.google.com/intl/ru/chrome/" target="_blank">Yangi versiya Google Chrome</a>
        </p>
    </video>
    <p id="append"></p>
    <div class="col-12 " id="video_bottom_question">
        {% for question in questions %}
            <div class="privew">
                <form action="{% url 'add_result_url' %}" method="POST">
                    {% csrf_token %}
                    <div class="questionsBox">
                        <div class="questions">{{ question.title }}
                        </div>

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %}">
                                    <a class="close" href="#" data-dismiss="alert">×</a>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <center><img src="{% if question.img %}{{ question.img.url }}{% endif %}" alt="" width="auto"
                                     height="300px;"
                                     style="margin: 0 auto"></center>
                        <ul class="answerList">
                            {% for answer in question.answers.all %}
                                <li>
                                    <label>


                                        <input type="radio" name="answer"
                                               {% for result in results %}{% if result.answer.id == answer.id %}checked
                                               disabled {% else %}disabled{% endif %}    {% endfor %}
                                               value="{{ answer.id }}"
                                               id="id_answer{{ forloop.counter }}">&nbsp;&nbsp;
                                        {% for result in results %}
                                            {% if result.answer.id == answer.id %}
                                                {{ answer.text }}

                                            {% else %}
                                                {% if answer.is_true == False %}
                                                    <span class="text-danger">{{ answer.text }}</span>
                                                {% else %}
                                                    <span class="text-success"> {{ answer.text }}</span>

                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}



                                        {% for result in results %}
                                            {% if result.answer.id == answer.id %}
                                                <span class="text-primary">- Sizning javobingiz</span>

                                            {% endif %}


                                        {% endfor %}


                                    </label>
                                </li>
                            {% endfor %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <input type="hidden" name="question" value="{{ question.id }}">
                        </ul>
                        <div class="questionsRow">
                            <button class="btn btn-primary" type="submit" id="nextquestions">Javobni kiritish</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endfor %}

    </div>
    <p class="pb-5"></p>

{% endblock content %}
{% block top %}
    <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
{% endblock top %}

{% block bottom %}
    <script src="https://vjs.zencdn.net/7.8.2/video.js"></script>
    <script>
        {#$("#video_bottom_question").hide();#}
        var vid = document.getElementById("my-video");
        vid.onloadedmetadata = function () {
            vid.ontimeupdate = function () {
                if (vid.duration == vid.currentTime) {
                    $("#video_bottom_question").fadeIn();
                    $(document).ready(function () {
                        $.ajax({
                            type: "GET",
                            url: "{% url 'add_duration' %}",
                            data: {
                                'video': {{ video.id }} // from form
                            },
                            success: function (message) {
                                var e = $('<div style="display:block; float:left;width:' + width + 'px; height:' + height + 'px; margin-top:' + positionY + 'px;margin-left:' + positionX + 'px;border:1px dashed #CCCCCC;"></div>');

                                $('#append').append(e);
                                e.attr('id', 'myid');
                            }
                        });

                    });
                }
            };
        };

    </script>
{% endblock bottom %}