{% extends 'base.html' %}
{% load prev_next_tags %}
{% block content %}

    <div class="container-fluid">
        <div class="row mt-3">
            {% for video in videos %}
                <div class="col-lg-3 col-md-3 col-sm-4">
                    <div class="thumbnail img-thumb-bg" style="background: url('{% if video.photo %}{{ video.photo.url }}{% endif %}'); background-size: 100%">
                        <div class="overlay"></div>
                        <div class="caption">
                            <div class="tag"><a href="#">{{ video.category.title }} </a></div>
                            <div class="title"><a href="{% url 'vide_detail_view' video.id %}">{{ video.title }}</a></div>


                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{##}
{#    <div class="row">#}
{#    {% for video in videos %}#}
{#        <div class="col-3">#}
{#        {% if video.video_view_complete.exists %}#}
{#            <div class="video_content_complete" style="text-align: center">#}
{#            <img src="{{ video.photo.url }}" alt="" width="50%" height="130px">#}
{#            <h4 class="video_content_title"><a href="{% url 'vide_detail_view' video.id %}">{{ video.title }}</a>#}
{#            </h4>#}
{#            <p><i class="fa fa-eye"></i> {{ video.video_view_complete.count }} | <i#}
{#                    class="fa fa-list"></i> {{ video.category.title }}  </p>#}
{#        {% else %}#}
{#            <div class="video_content_uncomplete" style="text-align: center">#}
{#            <img src="{{ video.photo.url }}" alt="" width="50%" height="130px">#}
{#            <h4 class="video_content_title"><a href="{% url 'vide_detail_view' video.id %}">{{ video.title }}</a>#}
{#            </h4>#}
{#            <p><i class="fa fa-eye"></i> {{ video.video_view_complete.count }} | <i#}
{#                    class="fa fa-list"></i> {{ video.category.title }}  </p>#}
{#        {% endif %}#}
{#    </div>#}
{#    </div>#}
{#    {% endfor %}#}
{#</div>#}
{% endblock content %}
