{% extends 'base.html' %}
{% load prev_next_tags %}
{% block content %}
    <div class="col-12">
        <h2 class=" pb-4">Video darslar (Umumiy darslar soni: 2ta. Siz o'rganganingiz: 1ta | <span class="text-damger">50% </span>o'zlashtirish)</h2>
    </div>
    <div class="row">
        {% for video in videos %}
            <div class="col-3">
            {% if video.video_view_complete.exists %}
                <div class="video_content_complete" style="text-align: center">
                <img src="{{ video.photo.url }}" alt="" width="50%" height="130px">
                <h4 class="video_content_title"><a href="{% url 'vide_detail_view' video.id %}">{{ video.title }}</a></h4>
                <p><i class="fa fa-eye"></i> {{ video.video_view_complete.count }} | <i
                        class="fa fa-list"></i> {{ video.category.title }}  </p>
            {% else %}
                <div class="video_content_uncomplete" style="text-align: center">
                <img src="{{ video.photo.url }}" alt="" width="50%" height="130px">
                <h4 class="video_content_title"><a href="{% url 'vide_detail_view' video.id %}">{{ video.title }}</a></h4>
                <p><i class="fa fa-eye"></i> {{ video.video_view_complete.count }} | <i
                        class="fa fa-list"></i> {{ video.category.title }}  </p>
            {% endif %}
        </div>
        </div>
        {% endfor %}
        </div>
{% endblock content %}