{% extends 'base.html' %}
{% load static %}
{% load video_tags %}
{% load sign_tags %}
{% load quiz_tags %}
{% block content %}

    <style>

        .video-js-responsive-container.vjs-hd {
            padding-top: 56.25%;
        }

        .video-js-responsive-container.vjs-sd {
            padding-top: 75%;
        }

        .video-js-responsive-container {
            width: 100%;
            position: relative;
        }

        .video-js-responsive-container .video-js {
            height: 100% !important;
            width: 100% !important;
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>
    <div id="video">
        <div class="alert alert-success text-center"><b>Hurmatli o'quvchi! Testlarni yechish uchun videoni to'liq
            ko'rishingiz talab etiladi! </b></div>
        <h1 class="text-center">{{ video.title }}</h1>
        <div class="video-js-responsive-container vjs-hd">

            <video style="margin: 0 auto" webkit-playsinline="true" playsinline="playsinline"
                   id="my-video"
                   class="video-js "
                   controls
                   preload="auto"
                   width="1080"
                   height="640"
                   poster="{{ video.photo.url }}"
                   data-setup="{}"
            >
                <source src="{{ video.src2 }}" type="video/webm"/>
                <source src="{{ video.src }}" type="video/mp4"/>

                <p class="vjs-no-js">
                    Kechirasiz, sizning brauzeringiz eski versiyada bo'lganligi sababli, ushbu videoni qo'llay olmaydi.
                    Iltimos
                    brauzeringizni yangilang!
                    <a href="https://www.google.com/intl/ru/chrome/" target="_blank">Yangi versiya Google Chrome</a>
                </p>
            </video>
        </div>
        {% get_video_materials video.id as materials %}
        {% if materials %}
            <div class="card">
                <div class="card-header" style="background-color: #efefef">
                    <h3 class="card-title">Qo'shimcha materiallar</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="width: 10px">№</th>
                                <th>Nomi</th>
                                <th>Muallif</th>
                                <th style="width: 5%">Hajmi</th>
                                <th style="width: 5%">Yuklash</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for material in materials %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    {% get_file_url material.id as url %}
                                    <td>
                                        <a href="{{ url }}" target="_blank" download="on">{{ material.title }}</a>
                                    </td>
                                    <td>{{ material.author }}</td>
                                    <td>{{ material.file.size|filesizeformat }}</td>

                                    {% get_file_url material.id as url %}
                                    <td>&nbsp;
                                        <a href="{{ url }}" target="_blank" download="on"><i
                                                class="fas fa-download"></i></a>
                                    </td>

                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        {% endif %}
        <p id="append"></p>
        <div class="col-12" id="video_bottom_question">
            {% if questions %}
                {% for question in questions %}
                    <div class="privew" data-id="{{ question.id }}" data-btn="{{ forloop.counter }}">
                        <div class="questionsBox">
                            <div class="questions">№{{ forloop.counter }} {{ question.title_uz }}
                            </div>
                            <div class="row">
                                {% include 'quiz/inc/question_img.html' %}
                                <div class="col-md-5" id="answer">
                                    {% for answer in question.answers.all %}
                                        {% get_true_answer request.user.id question.id answer.id as correct_answer %}
                                        <div id="answer{{ answer.id }}" {% if correct_answer %}disabled{% endif %}
                                             data-id="{{ answer.id }}"
                                             class="mt-3 btn text-left answer"
                                             style="background-color: {% if correct_answer == True %}#89e790{% elif correct_answer == False %}#ef6565{% endif %}">
                                            {{ forloop.counter }}). {{ answer.text_uz }}
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-info text-center"><b>Ushbu videoda test mavjud emas !</b></div>
            {% endif %}
        </div>

        {% if next_video %}
            <div class="text-right p-3 m-3">
                <a href="/video/detail/{{ next_video.id }}"
                   class="btn btn-info col-8 col-md-6 col-sm-7 col-lg-5 col-xl-4 m-2">
                    Keyingi videoga o'tish <i class="fas fa-angle-double-right"></i>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
{% block top %}
    <link href="https://vjs.zencdn.net/7.8.2/video-js.css" rel="stylesheet"/>
    <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
{% endblock top %}

{% block bottom %}
    <script src="https://vjs.zencdn.net/7.8.2/video.js"></script>

    <script>
        $(document).ready(function () {
            {% get_view_video request.user.id video.id as view_video_complete %}
            {% if not view_video_complete.exists %}
                $("#video_bottom_question").hide();
            {% endif %}


            videojs("my-video", {
                controlBar: {
                    fullscreenToggle: false
                }
            });


            var video = videojs('my-video').ready(function () {
                var player = this;

                player.on('ended', function () {
                    $("#video_bottom_question").fadeIn();

                    $.ajax({
                        type: "GET",
                        url: "{% url 'video:add_duration' %}",
                        data: {
                            'video': {{ video.id }}, // from form
                        },
                        success: function (message) {
                            var e = $('<div style="display:block; float:left;width:' + width + 'px; height:' + height + 'px; margin-top:' + positionY + 'px;margin-left:' + positionX + 'px;border:1px dashed #CCCCCC;"></div>');
                            $('#append').append(e);
                            e.attr('id', 'myid');
                        },
                        error: function () {
                            console.log('error')
                        },

                    });


                });
            });

            $('#answer div').on('click', function (event) {
                event.preventDefault();
                var answerId = $(this).data("id");
                var questionId = $(this).parents('.privew').data('id');
                var foorlopCounter = $(this).parents('.privew').data('btn');
                var colorRed = '#ef6565';
                var colorGreen = '#89e790';

                $.ajax({
                    method: "GET",
                    url: "{% url 'quiz:add_result' %}",
                    data: {
                        'answer': answerId,
                        'question': questionId,

                    },

                    success: function (message) {

                        if (message == "True") {

                            if ('#btn-' + foorlopCounter) {
                                $('#result-btn').attr('id', 'btn-' + answerId);
                                $('#btn-' + foorlopCounter).css('background-color', colorGreen)
                            } else {

                                console.log('topilmadi')
                            }
                            $('#answer' + answerId).addClass('disableddiv')

                            $('#answer' + answerId).css({"background-color": colorGreen,}).siblings().addClass('disableddiv');


                        } else if (message == 'False') {


                            if ('#btn-' + foorlopCounter) {
                                $('#result-btn').attr('id', 'btn-' + answerId);
                                $('#btn-' + foorlopCounter).css('background-color', colorRed)
                            } else {
                                console.log('topilmadi')
                            }

                            $('#answer' + answerId).addClass('disableddiv')

                            $('#answer' + answerId).css({"background-color": colorRed,}).siblings().addClass('disableddiv');
                        } else if (message == 'disabled') {
                            $('#answer' + answerId).addClass('disableddiv')
                        } else if (message == 'alert') {
                            alert('alert')
                        }
                    }
                })

            })

        });

    </script>
{% endblock bottom %}