{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for video in videos %}
                <a href="{% url 'video:video_detail' video.id %}">
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                        <div class="thumbnail img-thumb-bg" style="background: url('{% if video.photo %}{{ video.photo.url }}{% endif %}'); background-size: 100%">
                            {% if request.user.user_view_complete.exists %}
                                <div class="overlay-exists"></div>
                            {% else %}
                                <div class="overlay-noexists"></div>
                            {% endif %}
                            <div class="caption">
                                <div class="tag"><a
                                        href="">{{ video.category.title }} </a>
                                </div>
                                <div class="title"><a href="{% url 'video:video_detail' video.id %}">{{ video.title }} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
