{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Saytga oʻtish</a></li>
                        <li class="breadcrumb-item active">User</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Pssword</label>
                                        <br>
                                        {{ form.password }}
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>F.I.O</label>
                                        <br>
                                        {{ form.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>F.I.O qisqartirilgani</label>
                                        <br>
                                        {{ form.initsatial }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Foydalanuvchi roli</label>
                                        <br>
                                        {{ form.role }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Avtomaktab</label>
                                        <br>
                                        {{ form.school }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <br>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Foto</label>
                                        <br>
                                        {{ form.avatar }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Tug'ilgan vaqti</label>
                                        <br>
{#                                        {{ form.birthday }}#}
                                        <input type="date" id="id_birthday" name="birthday" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <br>
                                        {{ form.username }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <br>
                                        {{ form.phone }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Group_user</label>
                                        <br>
                                        {{ form.group }}
                                    </div>
                                </div>
                            </div>
                             <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Pasport</label>
                                        <br>
                                        {{ form.pasport }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>is_staff</label>
                                        <br>
                                        {{ form.is_staff }}
                                    </div>
                                </div>
                            </div>
                             <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>is_superuser</label>
                                        <br>
                                        {{ form.is_superuser }}
                                    </div>
                                </div>
                            </div>
                             <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>is_active</label>
                                        <br>
                                        {{ form.is_active }}
                                    </div>
                                </div>
                            </div>
{#                            <div class="card-body">#}
{#                                <div class="alert  alert-default-dark" role="alert">#}
{#                                    <div class="form-group">#}
{#                                        <label>last_login</label>#}
{#                                        <br>#}
{#                                        {{ form.last_login }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                             <div class="card-body">#}
{#                                <div class="alert  alert-default-dark" role="alert">#}
{#                                    <div class="form-group">#}
{#                                        <label>date_joined</label>#}
{#                                        <br>#}
{#                                        {{ form.date_joined }}#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                             <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>gender</label>
                                        <br>
                                        {{ form.gender }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>turbo</label>
                                        <br>
                                        {{ form.turbo }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>is_offline</label>
                                        <br>
                                        {{ form.is_offline }}
                                    </div>
                                </div>
                            </div>
                             <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Tug'ilgan joyi</label>
                                        <br>
                                        {{ form.place_of_birth }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>(Viloyat)</label>
                                        <br>
                                        {{ form.region }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>(Tuman)</label>
                                        <br>
                                        {{ form.district }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Yashash joyi (Ko'cha/Qishloq)</label>
                                        <br>
                                        {{ form.residence_address }}
                                    </div>
                                </div>
                            </div>
                             <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Pasport berilgan vaqti</label>
                                        <br>
                                        {{ form.passport_issued_time }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Pasport bergan tashkilot</label>
                                        <br>
                                        {{ form.passport_issued_organization }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Tibbiy ma'lumotnoma seriyasi</label>
                                        <br>
                                        {{ form.medical_series }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Tibbiy ma'lumotnoma bergan poliklinika</label>
                                        <br>
                                        {{ form.medical_issued_organization }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Tibbiy ma'lumotnoma berilgan sana</label>
                                        <br>
                                        {{ form.medical_issued_date }}
                                    </div>
                                </div>
                            </div>
                             <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Guvohnoma seriyasi</label>
                                        <br>
                                        {{ form.certificate_series }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="alert  alert-default-dark" role="alert">
                                    <div class="form-group">
                                        <label>Guvohnoma raqami</label>
                                        <br>
                                        {{ form.certificate_number }}
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Saqlash</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}